
&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}

		&lt;div class=&quot;page-title&quot;&gt;
			&lt;header class=&quot;article-header&quot;&gt;
				&lt;h1&gt;{{ job.title }}&lt;/h1&gt;
				{{&gt; molecules-jobs-byline }}
			&lt;/header&gt;
		&lt;/div&gt;

		{{&gt; molecules-utility-nav-bookmark }}

	&lt;div role=&quot;main&quot;&gt;

		&lt;div class=&quot;l-two-col&quot;&gt;
			&lt;div class=&quot;l-main&quot;&gt;
				&lt;article class=&quot;article&quot;&gt;
					{{&gt; atoms-time }}
					{{&gt; organisms-article-body }}
					
					&lt;p&gt;&lt;button class=&quot;btn caps md-trigger&quot; data-modal=&quot;modal-1&quot;&gt;Apply for this Job&lt;/button&gt;&lt;/p&gt;

				&lt;/article&gt;&lt;!--end .article--&gt;

				
			&lt;/div&gt;&lt;!--end l-main--&gt;

			&lt;div class=&quot;l-sidebar&quot;&gt;
				{{&gt; organisms-job-meta }}
			&lt;/div&gt;&lt;!--end l-sidebar--&gt;

		&lt;/div&gt;&lt;!--end l-two-col--&gt;	
	&lt;/div&gt;&lt;!--End role=main--&gt;


		&lt;div class=&quot;utility-nav&quot;&gt;
			&lt;div class=&quot;inner&quot;&gt;

				&lt;div class=&quot;g g-2up&quot;&gt;
					&lt;div class=&quot;gi&quot;&gt;&lt;/div&gt;
					&lt;div class=&quot;gi&quot;&gt;
						&lt;div class=&quot;right-skinny&quot;&gt;
							{{&gt; molecules-social-share }}
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;

			&lt;/div&gt;
		&lt;/div&gt;

		&lt;div class=&quot;inner&quot;&gt;
			&lt;div class=&quot;row&quot;&gt;
				&lt;div class=&quot;half&quot;&gt;&lt;br /&gt;{{&gt; molecules-topshelf-title }}&lt;/div&gt;
				&lt;div class=&quot;half right&quot;&gt;&lt;/div&gt;
			&lt;/div&gt;		
			{{&gt; organisms-job-listing }}
		&lt;/div&gt;

			
	{{&gt; organisms-prefooter }}
	{{&gt; organisms-footer }}
&lt;/div&gt;


&lt;div class=&quot;md-modal md-effect-1&quot; id=&quot;modal-1&quot;&gt;
	&lt;div class=&quot;md-content&quot;&gt;
		{{&gt; organisms-modal-apply }}
	&lt;/div&gt;
&lt;/div&gt;	