		&lt;div class=&quot;utility-nav&quot;&gt;
			&lt;div class=&quot;inner&quot;&gt;

				&lt;div class=&quot;g g-2up&quot;&gt;
					&lt;div class=&quot;gi gi-1-3&quot;&gt;
						&lt;legend class=&quot;utility-nav--label&quot;&gt;&lt;strong&gt;Filter by type&lt;/strong&gt;&lt;/legend&gt;
					&lt;/div&gt;
					&lt;div class=&quot;gi gi-2-3&quot;&gt;
						&lt;form action=&quot;#&quot;&gt;
						    {{&gt; atoms-checkbox-inline }}
						&lt;/form&gt;
					&lt;/div&gt;
				&lt;/div&gt;

			&lt;/div&gt;
		&lt;/div&gt;