&lt;footer class=&quot;quote--large&quot;&gt;
	&lt;div class=&quot;lc&quot;&gt;

	&lt;blockquote&gt;
		&ldquo;&amp;nbsp;{{ quote-large }}&amp;nbsp;&rdquo;
	&lt;/blockquote&gt;

	&lt;cite&gt;{{ quote-source }}&lt;/cite&gt;
		
	&lt;/div&gt;
&lt;/footer&gt;