&lt;footer class=&quot;quote--large&quot;&gt;
	&lt;div class=&quot;lc&quot;&gt;

	&lt;blockquote&gt;
		{{ excerpt.medium }}
	&lt;/blockquote&gt;

	&lt;cite&gt;A Twitter @username&lt;/cite&gt;
		
	&lt;/div&gt;
&lt;/footer&gt;