<p><button class="btn">Button</button></p>
<p><button class="btn ghost">Ghost Button</button></p>
<p><button class="btn caps">Button Caps</button></p>
<p><button class="btn alt star"><img src="../../images/star-outlined.svg"> Bookmark</button></p>
<p><button class="btn alt">Alternative button</button></p>
<p><button class="btn disabled">Disabled button</button></p>
<p><button class="btn logout">Logout button</button></p>
<p><button class="btn alt-caps">Alternative button caps</button></p>
<p><button class="btn alt-nocaps">Alternative button no caps</button></p>
<p><button class="btn alt-dark">Alternative button dark</button></p>
<p><button class="text-btn">Text Button</button></p>