<p><a href="#" class="btn">Button</a></p>
<p><a href="#" class="btn caps">Button Caps</a></p>
<p><a href="#" class="btn alt star"><img src="../../images/star-outlined.svg"> Bookmark</a></p>
<p><a href="#" class="btn alt">Alternative button</a></p>
<p><a href="#" class="btn disabled">Disabled button</a></p>
<p><a href="#" class="btn logout">Logout button</a></p>
<p><a href="#" class="btn alt-caps">Alternative button caps</a></p>
<p><a href="#" class="text-btn">Text Button</a></p>