<p><a href="#" class="tag-btn fulltime">Full Time</a></p>
<p><a href="#" class="tag-btn parttime">Part Time</a></p>
<p><a href="#" class="tag-btn fixedterm">Fixed Term</a></p>
<p><a href="#" class="tag-btn freelance">Freelance</a></p>
<p><a href="#" class="tag-btn other">Other</a></p>