		<div class="job--listings filter light">
			<div class="inner">

				<ul class="inline-list job--listings search-controls">
					<li class="wide">
					    {{> atoms-text-field-search }}
					</li>
					<li class="narrow">
					    {{> atoms-text-field-search }}
					</li>
					<li class="wide">
						{{> atoms-select-menu }}
					</li>
					<li class="narrow last">
						<a href="#" class="btn">Search Jobs</a>
					</li>
				</ul>

			</div>
		</div>