
&lt;nav class=&quot;nav-collapse&quot; id=&quot;nav&quot;&gt;
	&lt;ul class=&quot;menu-items&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Find a Job&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Post a Job&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Pricing&lt;/a&gt;&lt;/li&gt;		
		&lt;li class=&quot;dropdown line&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Your Account&lt;/a&gt;
				{{&gt; atoms-dd-list }}
		
		&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Logout&lt;/a&gt;
		&lt;button class=&quot;logout-symbol&quot;&gt;&lt;span class=&quot;screen-reader-text&quot;&gt;Logout&lt;/span&gt;&lt;/button&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;&lt;!--end .nav--&gt;