&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}

		&lt;div class=&quot;page-title&quot;&gt;
			&lt;header class=&quot;article-header&quot;&gt;
				&lt;h1&gt;Checkout&lt;/h1&gt;
				{{&gt; molecules-byline }}
			&lt;/header&gt;
		&lt;/div&gt;


		&lt;div class=&quot;utility-nav&quot;&gt;
			&lt;div class=&quot;inner&quot;&gt;

				&lt;div class=&quot;g g-2up&quot;&gt;
					&lt;div class=&quot;gi&quot;&gt;
						&lt;p&gt;Success! You added the 'XX' package to your cart&lt;/p&gt;
					&lt;/div&gt;
					&lt;div class=&quot;gi&quot;&gt;
						&lt;div class=&quot;right-skinny&quot;&gt;
							&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Add more listings&lt;/a&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;

			&lt;/div&gt;
		&lt;/div&gt;

	&lt;div role=&quot;main&quot;&gt;

			&lt;div class=&quot;inner&quot;&gt;

				&lt;div class=&quot;g g-2up&quot;&gt;
					&lt;div class=&quot;gi gi-2-3&quot;&gt;
						&lt;form method=&quot;post&quot; action=&quot;{{ url }}&quot; class=&quot;comment-form&quot;&gt;
							&lt;fieldset&gt;
								&lt;div class=&quot;field-container&quot;&gt;
									&lt;label for=&quot;comment-name&quot;&gt;Name&lt;/label&gt;
									&lt;input id=&quot;comment-name&quot; type=&quot;text&quot; placeholder=&quot;Enter Your Name&quot; /&gt;
								&lt;/div&gt;
								&lt;div class=&quot;field-container&quot;&gt;
									&lt;label for=&quot;comment-email&quot;&gt;Email&lt;/label&gt;
									&lt;input id=&quot;comment-email&quot; type=&quot;email&quot; placeholder=&quot;Your email address&quot; /&gt;
								&lt;/div&gt;
								&lt;div class=&quot;field-container&quot;&gt;
									&lt;label for=&quot;comment-url&quot;&gt;URL&lt;/label&gt;
									&lt;input id=&quot;comment-url&quot; type=&quot;url&quot; placeholder=&quot;Website if you got one&quot; /&gt;
								&lt;/div&gt;
								&lt;div class=&quot;field-container&quot;&gt;
									&lt;label for=&quot;comment-field&quot;&gt;Comment&lt;/label&gt;
									&lt;textarea id=&quot;comment-field&quot; rows=&quot;5&quot; placeholder=&quot;Write you comment here&quot;&gt;&lt;/textarea&gt;
								&lt;/div&gt;
							&lt;/fieldset&gt;
						&lt;/form&gt;

						&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Apply for this Job&lt;/a&gt;&lt;/p&gt;

					&lt;/div&gt;
					&lt;div class=&quot;gi gi-1-3&quot;&gt;{{&gt; molecules-price-block }}&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;	


	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-prefooter }}
	{{&gt; organisms-footer }}
&lt;/div&gt;