&lt;ul class=&quot;block-clump&quot;&gt;
	&lt;li&gt;
		{{&gt; molecules-stats-block }}
	&lt;/li&gt;
	&lt;li&gt;
		{{&gt; molecules-stats-block }}
	&lt;/li&gt;
	&lt;li&gt;
		{{&gt; molecules-stats-block }}
	&lt;/li&gt;	
	&lt;li&gt;
		{{&gt; molecules-stats-block }}
	&lt;/li&gt;
	&lt;li&gt;
		{{&gt; molecules-stats-block }}
	&lt;/li&gt;
	&lt;li&gt;
		{{&gt; molecules-stats-block }}
	&lt;/li&gt;
	&lt;li&gt;
		{{&gt; molecules-stats-block }}
	&lt;/li&gt;
	&lt;li&gt;
		{{&gt; molecules-stats-block }}
	&lt;/li&gt;
	&lt;li&gt;
		{{&gt; molecules-stats-block }}
	&lt;/li&gt;		
&lt;/ul&gt;