		&lt;section class=&quot;section&quot;&gt;

			&lt;h3 class=&quot;middle&quot;&gt;Stats for: {{ job.title }}&lt;/h3&gt;

			&lt;ul class=&quot;block-clump&quot;&gt;
				&lt;li&gt;
					{{&gt; molecules-stats-block }}
				&lt;/li&gt;
				&lt;li&gt;
					{{&gt; molecules-stats-block }}
				&lt;/li&gt;
				&lt;li&gt;
					{{&gt; molecules-stats-block }}
				&lt;/li&gt;	
				&lt;li&gt;
					{{&gt; molecules-stats-block }}
				&lt;/li&gt;
				&lt;li&gt;
					{{&gt; molecules-stats-block }}
				&lt;/li&gt;
				&lt;li&gt;
					{{&gt; molecules-stats-block }}
				&lt;/li&gt;
				&lt;li&gt;
					{{&gt; molecules-stats-block }}
				&lt;/li&gt;
				&lt;li&gt;
					{{&gt; molecules-stats-block }}
				&lt;/li&gt;
				&lt;li&gt;
					{{&gt; molecules-stats-block }}
				&lt;/li&gt;		
			&lt;/ul&gt;

		&lt;/section&gt;