						    <fieldset class="options">
						        <ul class="inline-list filters">
						            <li><label class="light" for="checkbox1"><input id="checkbox1" name="checkbox" type="checkbox" checked="checked"> Fixed-term</label></li>
						            <li><label class="light" for="checkbox2"><input id="checkbox2" name="checkbox" type="checkbox"> Freelance</label></li>
						            <li><label class="light" for="checkbox3"><input id="checkbox3" name="checkbox" type="checkbox"> Full-time</label></li>
						            <li><label class="light" for="checkbox3"><input id="checkbox3" name="checkbox" type="checkbox"> Internship</label></li>
						            <li><label class="light" for="checkbox3"><input id="checkbox3" name="checkbox" type="checkbox"> Part-time</label></li>
						            <li><label class="light" for="checkbox3"><input id="checkbox3" name="checkbox" type="checkbox"> Permanent</label></li>
						            <li><label class="light" for="checkbox3"><input id="checkbox3" name="checkbox" type="checkbox"> Volunteer</label></li>
						        </ul>
						    </fieldset>