						    <fieldset class="options">
						        <ul class="inline-list filters">
						            <li><label class="light" for="checkbox1"><input id="checkbox1" name="checkbox" type="checkbox" checked="checked"> Fulltime</label></li>
						            <li><label class="light" for="checkbox2"><input id="checkbox2" name="checkbox" type="checkbox"> Part-time</label></li>
						            <li><label class="light" for="checkbox3"><input id="checkbox3" name="checkbox" type="checkbox"> Fixed term</label></li>
						            <li><label class="light" for="checkbox3"><input id="checkbox3" name="checkbox" type="checkbox"> Freelance</label></li>
						            <li><label class="light" for="checkbox3"><input id="checkbox3" name="checkbox" type="checkbox"> Other</label></li>       
						        </ul>
						    </fieldset>