<div class="field-container ondark">
        <label class="light" for="select">Select</label>
        <select id="select">
            <optgroup label="Option Group">
                <option>Option One NOPE</option>
                <option>Option Two</option>
                <option>Option Three</option>
            </optgroup>
        </select>
</div>