&lt;div class=&quot;callout--block&quot;&gt;
	&lt;div class=&quot;callout--block-value&quot;&gt;BUMP&lt;/div&gt;
	&lt;div class=&quot;callout--block-quantify&quot;&gt;{{headline.medium}}&lt;/div&gt;
&lt;/div&gt;