&lt;div class=&quot;field-container&quot;&gt;
    &lt;label class=&quot;light&quot; for=&quot;search&quot;&gt;Search&lt;/label&gt;
    &lt;input id=&quot;search&quot; type=&quot;search&quot; placeholder=&quot;Enter Search Term&quot;&gt;
&lt;/div&gt;