<div class="page" id="page">
	{{> organisms-header }}

		<div class="page-title">
			<header class="article-header">
				<h1>Manage Alerts</h1>
				{{> molecules-byline }}
			</header>
		</div>


		<div class="utility-nav">
			<div class="inner">

			</div>
		</div>

	<div role="main">

			<div class="inner">

				{{> organisms-account-alerts }}

			</div>	


	</div><!--End role=main-->
	{{> organisms-prefooter }}
	{{> organisms-footer }}
</div>