<div class="page" id="page">
	{{> organisms-header }}

		<div class="page-title">
			<header class="article-header">
				<h1>All Jobs</h1>
				{{> molecules-byline }}
			</header>
		</div>

		{{> molecules-job-listings-filter }}

		{{> molecules-utility-nav-checkbox }}

	<div role="main">

		<div class="listings top-shelf">

		<div class="row">
			<div class="half"><br />{{> molecules-topshelf-title }}</div>
			<div class="half right"></div>
		</div>

			{{> organisms-job-listing }}
		</div>

		<div class="listings">

		<div class="row">
			<div class="half">{{> molecules-results-title }}</div>
			<div class="half right">{{> atoms-rss }}</div>
		</div>

			{{> organisms-job-listing }}
			{{> molecules-job-listings-load-more }}
		</div>


	</div><!--End role=main-->
	{{> organisms-prefooter }}
	{{> organisms-footer }}
</div>