
<div class="page" id="page">
	{{> organisms-header }}

		<div class="page-title">
			<header class="article-header">
				<h1>{{ job.title }}</h1>
				{{> molecules-jobs-byline }}
			</header>
		</div>

		{{> molecules-utility-nav-bookmark }}

	<div role="main">

		<div class="l-two-col">
			<div class="l-main">
				<article class="article">
					{{> atoms-time }}
					{{> organisms-article-body }}
					
					<p><button class="btn caps md-trigger" data-modal="modal-1">Apply for this Job</button></p>

				</article><!--end .article-->

				
			</div><!--end l-main-->

			<div class="l-sidebar">
				{{> organisms-job-meta }}
			</div><!--end l-sidebar-->

		</div><!--end l-two-col-->	
	</div><!--End role=main-->


		<div class="utility-nav">
			<div class="inner">

				<div class="g g-2up">
					<div class="gi"></div>
					<div class="gi">
						<div class="right-skinny">
							{{> molecules-social-share }}
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="inner">
			<div class="row">
				<div class="half"><br />{{> molecules-topshelf-title }}</div>
				<div class="half right"></div>
			</div>		
			{{> organisms-job-listing }}
		</div>

			
	{{> organisms-prefooter }}
	{{> organisms-footer }}
</div>


<div class="md-modal md-effect-1" id="modal-1">
	<div class="md-content">
		{{> organisms-modal-apply }}
	</div>
</div>	