
<div class="page" id="page">
	{{> organisms-header-logged-in }}

		<div class="page-title">
			<header class="article-header">
				<h1>Select your package option</h1>
				{{> molecules-helper }}
			</header>
		</div>

		{{> molecules-utility-nav-signed-in }}

	<div role="main">

			<div class="inner">

				<div class="g g-3up">
					<div class="gi">{{> molecules-pricing-block }}</div>
					<div class="gi">{{> molecules-pricing-block }}</div>
					<div class="gi">{{> molecules-pricing-block }}</div>
				</div>

				{{> molecules-back-to-edit }}
			</div>	

	</div><!--End role=main-->

			
	{{> organisms-prefooter }}
	{{> organisms-footer }}
</div>