<div class="page" id="page">
	{{> organisms-header }}

		<div class="page-title">
			<header class="article-header">
				<h1>Login</h1>
				{{> molecules-byline }}
			</header>
		</div>

	<div role="main">

			<div class="inner rounded-container border">

				<form method="post" action="{{ url }}" class="comment-form">
					<fieldset>
						<div class="field-container">
							<label for="comment-email">Your Email <abbr title="Required">*</abbr></label>
							<input id="comment-email" type="email" placeholder="Your email address" required>
						</div>
					    <div class="field-container">
					        <label for="password">Your Password <abbr title="Required">*</abbr></label>
					        <input id="password" type="password" placeholder="Type your Password" required>
					    </div>
					</fieldset>

				<p><button class="btn" type="submit">Login</button></p>					
				</form>

				<div class="block">
					<div class="middle">
						<p class="small">Don't have an account? <a href="{{ url }}">Create one now</a></p>
					</div>
				</div>

			</div>	

		
	</div><!--End role=main-->
	{{> organisms-prefooter }}
	{{> organisms-footer }}
</div>