<div class="page" id="page">
	{{> organisms-header }}

		<div class="page-title">
			<header class="article-header">
				<h1>Register</h1>
				{{> molecules-byline }}
			</header>
		</div>

	<div role="main">

			<div class="inner rounded-container border">

				<div class="blurb">
					{{> atoms-paragraph }}<br>
				</div>

				<form method="post" action="{{ url }}" class="validated-form">
					<fieldset>
						<div class="field-container">
							<label for="comment-name">Your Name <abbr title="Required">*</abbr></label>
							<input id="comment-name" type="text" placeholder="Enter Your Name" required />
						</div>
						<div class="field-container">
							<label for="comment-email">Your Email <abbr title="Required">*</abbr></label>
							<input id="comment-email" type="email" placeholder="Your email address" required />						
						</div>
					    <div class="field-container">
					        <label for="password">Create a Password <abbr title="Required">*</abbr></label>
					        <input id="password" type="password" placeholder="Type your Password" required>
					    </div>
					    <div class="field-container">
					        <label for="password">Re-enter your Password <abbr title="Required">*</abbr></label>
					        <input id="confirm_password" type="password" placeholder="Confirm your Password" required>
					    </div>
					</fieldset>

				<p><button class="btn" type="submit">Sign me up!</button></p>
				</form>				

				<p class="tiny caps middle" style="opacity: 0.4">By signing up you’re agreeing to our <a href="{{ url }}">terms of use</a> and <a href="{{ url }}">privacy policy</a></p>			

				<div class="block">
					<div class="middle">
						<p class="small"><br>Already have an account? <a href="{{ url }}">Sign in now</a></p>
					</div>
				</div>

			</div>	

		
	</div><!--End role=main-->
	{{> organisms-prefooter }}
	{{> organisms-footer }}
</div>