<div class="page" id="page">
	{{> organisms-header }}

		<div class="page-title">
			<header class="article-header">
				<h1>Oops</h1>
				{{> molecules-byline }}
			</header>
		</div>


	<div role="main">

			<div class="inner">


			</div>	


	</div><!--End role=main-->
	{{> organisms-prefooter }}
	{{> organisms-footer }}
</div>