<ul class="block-clump">
	<li>
		{{> molecules-stats-block }}
	</li>
	<li>
		{{> molecules-stats-block }}
	</li>
	<li>
		{{> molecules-stats-block }}
	</li>	
	<li>
		{{> molecules-stats-block }}
	</li>
	<li>
		{{> molecules-stats-block }}
	</li>
	<li>
		{{> molecules-stats-block }}
	</li>
	<li>
		{{> molecules-stats-block }}
	</li>
	<li>
		{{> molecules-stats-block }}
	</li>
	<li>
		{{> molecules-stats-block }}
	</li>		
</ul>