		<section class="section">
		
		<button class="md-close right"><img src="../../images/cross.svg"></button>

		<h3 class="middle">Bump up your job ad</h3>

		<p class="middle">Bump your job ad to the top of the job listings quickly and easily.  Bumps last the duration of your remaining job listing and can be added as many times as you like.</p>

		<p class="middle"><a href="#">Bump image goes here</a></p>

		</section>