<table class="account manage-jobs">
	<thead>
		<tr>
			<th>Job title</th>
			<th>Filled?</th>
			<th>Date posted</th>
			<th>Date expires</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td class="third">
			<p>Marketing manager</p>
		</td>
		<td>
			<p class="small">-</p>
		</td>
		<td>
			<p class="small">July 13, 2015</p>
		</td>
		<td>
			<p class="small">August 20, 2015</p>
		</td>
	</tr>
	<tr>
		<td class="third">
			<p>Sales director</p>
		</td>
		<td>
			<p class="small">-</p>
		</td>
		<td>
			<p class="small">July 13, 2015</p>
		</td>
		<td>
			<p class="small">August 20, 2015</p>
		</td>
	</tr>
	</tbody>
</table>