		<section class="section">
		
		<h3 class="middle">Bump up your job ad</h3>

		<p class="middle">Bump your job ad to the top of the job listings quickly and easily.  Bumps last the duration of your remaining job listing and can be added as many times as you like.</p>

		<p class="middle"><a href="#"><img src="{{ img.landscape-4x3.src }}" alt="{{ img.landscape-4x3.alt }}" /></a></p>
			<br>
		<p><button class="btn" data-remodal-action="confirm" class="remodal-confirm">Bump up my Ad</button></p>

		</section>