		<section class="section">
		
		<button class="md-close right"><img src="../../images/cross.svg"></button>

		<h3 class="middle">Login</h3>

		<p class="middle">Welcome back to the PIE Jobs</p>

		<fieldset>

		    <div class="field-container">
		        <label for="emailaddress">Email Address</label>
		        <input id="emailaddress" type="email" placeholder="name@email.com">
		    </div>

		    <div class="field-container">
		        <label for="password">Password</label>
		        <input id="password" type="password" placeholder="Type your Password">
		        <br>
		        <p><a href="#">Forgot password?</a></p>
		    </div>

			<p><a href="#" class="btn caps">Button Caps</a></p>

			<p class="middle"><a href="#">Not a member? Create your account now</a></p>

		</fieldset>
		</section>