		<section class="section">
		
		<h3 class="middle">Application sent!</h3>
		<br>
		<p class="middle">Thanks for applying for the position of:</p>
		<p class="middle"><strong>{{ job.title }}</strong> at <strong>{{ job.employer }}</strong>. </p>
<br>
		<p class="middle">Good luck!</p>

		<p>
		<br>
			<button class="btn" data-remodal-action="confirm" class="remodal-confirm">OK</button>
		</p>
		

		</section>