		<section class="section">
		
		<span class="popup-btn-close"><img src="../../images/cross.svg"></span>

		<h3 class="middle">Application sent!</h3>
		<br>
		<p class="middle">Thanks for applying for the position of:</p>
		<p class="middle"><strong>{{ job.title }}</strong> at <strong>{{ job.employer }}</strong>. </p>

		<p class="middle">Good luck!</p>

		<p><br><a href="#" class="btn">Button Caps</a></p>

		</section>