		<section class="section">
		
		<button class="md-close right"><img src="../../images/cross.svg"></button>

		<h3 class="middle">Application sent!</h3>

		<p class="middle">Thanks for applying for the position of: <strong>{{ job.title }}</strong>, {{ job.employer }}. <br>Good luck!</p>

		<fieldset>

			<p><br><a href="#" class="btn alt">Button Caps</a></p>

		</fieldset>
		</section>