&lt;div class=&quot;table-responsive&quot;&gt;
&lt;table class=&quot;account manage-bookmarks&quot;&gt;
	&lt;thead&gt;
		&lt;tr&gt;
			&lt;th&gt;Bookmark&lt;/th&gt;
			&lt;th&gt;Notes&lt;/th&gt;
		&lt;/tr&gt;
	&lt;/thead&gt;
	&lt;tbody&gt;
	&lt;tr&gt;
		&lt;td class=&quot;account-table-info&quot;&gt;
			&lt;p&gt;{{&gt; atoms-time }}&lt;/p&gt;
			&lt;p&gt;&lt;strong&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ job.title }}&lt;/a&gt;&lt;/strong&gt;&lt;/p&gt;
			&lt;p class=&quot;small&quot;&gt;{{ job.employer }}&lt;/p&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;read-only&quot;&gt;{{ excerpt.medium }}&lt;/p&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td class=&quot;account-table-info&quot;&gt;
			&lt;p&gt;{{&gt; atoms-time }}&lt;/p&gt;
			&lt;p&gt;&lt;strong&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ job.title }}&lt;/a&gt;&lt;/strong&gt;&lt;/p&gt;
			&lt;p class=&quot;small&quot;&gt;{{ job.employer }}&lt;/p&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;read-only&quot;&gt;{{ excerpt.short }}&lt;/p&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;
&lt;/div&gt;