&lt;div class=&quot;md-modal md-effect-7&quot; id=&quot;modal-1&quot;&gt;
	&lt;div class=&quot;md-content&quot;&gt;

		{{&gt; organisms-modal-stats }}
		
	&lt;/div&gt;
&lt;/div&gt;

		&lt;table class=&quot;account manage-jobs&quot;&gt;
	&lt;thead&gt;
		&lt;tr&gt;
			&lt;th&gt;Job title&lt;/th&gt;
			&lt;th&gt;Filled?&lt;/th&gt;
			&lt;th&gt;Date posted&lt;/th&gt;
			&lt;th&gt;Date expires&lt;/th&gt;
		&lt;/tr&gt;
	&lt;/thead&gt;
	&lt;tbody&gt;
	&lt;tr&gt;
		&lt;td class=&quot;third&quot;&gt;
			&lt;p&gt;Marketing manager&lt;/p&gt; 
			&lt;ul&gt;
				&lt;li&gt;&lt;button class=&quot;md-trigger&quot; data-modal=&quot;modal-1&quot;&gt;Show stats&lt;/button&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Edit&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Disable&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;strong&gt;BUMP&lt;/strong&gt;&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;red&quot;&gt;Delete&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;-&lt;/p&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;July 13, 2015&lt;/p&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;August 20, 2015&lt;/p&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td class=&quot;third&quot;&gt;
			&lt;p&gt;Sales director&lt;/p&gt;
			&lt;ul&gt;
				&lt;li&gt;&lt;button class=&quot;md-trigger&quot; data-modal=&quot;modal-1&quot;&gt;Show stats&lt;/button&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Edit&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Disable&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;strong&gt;BUMP&lt;/strong&gt;&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;red&quot;&gt;Delete&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;			
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;-&lt;/p&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;July 13, 2015&lt;/p&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;August 20, 2015&lt;/p&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;