<ul class="dd-list">
	<li><a href="{{ url }}">Manage job alerts</a></li>
	<li><a href="{{ url }}">Manage bookmarks</a></li>
	<li><a href="{{ url }}">Manage jobs</a></li>
	<li><a href="{{ url }}">Your account</a></li>
	<li><a href="{{ url }}">Your cart</a></li>
</ul>