	<ul class="job-meta-list">
		<li><span class="kicker">Job Title</span><br><p>{{ job.title }}</p></li>
		<li><span class="kicker">Company name</span><br><p>{{ job.employer }}</p></li>
		<li><span class="kicker">Location</span><br><p>{{ job.location }}</p></li>
		<li><span class="kicker">Job type</span><br><p><a href="#" class="tag-btn fulltime">Full Time</a></p></li>
	</ul>