<section class="section related-posts">
	<p class="section-title">Recent Links</p>
	<ul class="headline-list">
		<li>{{> atoms-time }}<br><p><a href="#">Headline Lorem ipsum dolor sit amet</a></p></li>
		<li>{{> atoms-time }}<br><p><a href="#">Headline Lorem ipsum dolor sit amet</a></p></li>
		<li>{{> atoms-time }}<br><p><a href="#">Headline Lorem ipsum dolor sit amet</a></p></li>
		<li>{{> atoms-time }}<br><p><a href="#">Headline Lorem ipsum dolor sit amet</a></p></li>
		<li>{{> atoms-time }}<br><p><a href="#">Headline Lorem ipsum dolor sit amet</a></p></li>
		<li>{{> atoms-time }}<br><p><a href="#">Headline Lorem ipsum dolor sit amet</a></p></li>
	</ul>
</section>