<section class="section related-posts">
	<h3 class="section-title">Related Posts</h3>
	<ul class="headline-list">
		<li>{{> atoms-time }}<br><h4><a href="#">{{ headline.short }}</a></h4></li>
		<li>{{> atoms-time }}<br><h4><a href="#">{{ headline.short }}</a></h4></li>
		<li>{{> atoms-time }}<br><h4><a href="#">{{ headline.short }}</a></h4></li>
		<li>{{> atoms-time }}<br><h4><a href="#">{{ headline.short }}</a></h4></li>
		<li>{{> atoms-time }}<br><h4><a href="#">{{ headline.short }}</a></h4></li>
	</ul>
</section>