<section class="section related-posts">
	<h3 class="section-title">Related Posts</h3>
	<ul class="headline-list">
		<li>{{> atoms-time }}<br><p><a href="#">{{ headline.short }}</a></p></li>
		<li>{{> atoms-time }}<br><p><a href="#">{{ headline.short }}</a></p></li>
		<li>{{> atoms-time }}<br><p><a href="#">{{ headline.short }}</a></p></li>
		<li>{{> atoms-time }}<br><p><a href="#">{{ headline.short }}</a></p></li>
		<li>{{> atoms-time }}<br><p><a href="#">{{ headline.short }}</a></p></li>
	</ul>
</section>