<section class="section related-posts">
	<p class="section-title">Related Links</p>
	<ul class="headline-list">
		<li>{{> atoms-time }}<br><p><a href="#">{{ headline.short }}</a></p></li>
		<li>{{> atoms-time }}<br><p><a href="#">{{ headline.short }}</a></p></li>
		<li>{{> atoms-time }}<br><p><a href="#">{{ headline.short }}</a></p></li>
		<li>{{> atoms-time }}<br><p><a href="#">{{ headline.short }}</a></p></li>
		<li>{{> atoms-time }}<br><p><a href="#">{{ headline.short }}</a></p></li>
	</ul>
</section>