<section class="section job-meta">
	
	<div class="g g-2up">
		<div class="gi">
			<div class="employer-logo">
				<a href="{{ url }}">
				    <div class="employer-logo-thumb">
						{{> atoms-square }}
					</div>
				</a>
			</div>
		</div>
		<div class="gi">
			<div class="employer-inner">
				<p class="employer-link"><i class="Icon Icon--globe"></i><a href="{{ url }}">{{ employer.site }}</a></p>
				<p class="employer-link"><i class="Icon Icon--twitter"></i><a href="{{ url }}">{{ employer.twitter }}</a></p>
				<p class="employer-link"><i class="Icon Icon--linkedin"></i><a href="{{ url }}">{{ employer.linkedin }}</a></p>
			</div>
		</div>
	</div>	

	{{> atoms-job-meta-list }}
</section>