<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
	<div class="lc">

		<div class="g g-3up">
			<div class="gi">{{> atoms-logo-dark }}</div>
			<div class="gi">{{> molecules-footer-nav }}</div>
			<div class="gi">{{> molecules-newsletter }}</div>
		</div>

		<hr class="footer">
		<p class="copyright">&copy; 2015 The PIE Partnership</p>
		<p class="terms-conditions"><a href="{{ url }}">Terms &amp; Conditions</a> / <a href="{{ url }}">Privacy Policy</a></p>
	</div>
</footer>
<!-- End Footer -->