<!-- Begin Footer -->
<footer class="prefooter" role="contentinfo">
	<div class="lc">

		<a href="#" class="btn prefooter-cta">Create your account now</a>

		<div class="blurb">Employers and job seekers alike, create your account to manage job alerts, post jobs and much more</div>
		
	</div>
</footer>
<!-- End Footer -->