<!-- Begin .header -->
<a class="skip-link screen-reader-text" href="#main">Skip to content</a>
<header class="header cf" role="banner">
	<div class="header-inner">
	{{> atoms-logo }}
	<button id="nav-toggle" class="nav-toggle">Open menu</button>
	{{> molecules-primary-nav-logged-in }}
	</div>
</header>
<!-- End .header -->