&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}

		&lt;div class=&quot;page-title&quot;&gt;
			&lt;header class=&quot;article-header&quot;&gt;
				&lt;h1&gt;All Jobs&lt;/h1&gt;
				{{&gt; molecules-byline }}
			&lt;/header&gt;
		&lt;/div&gt;

		&lt;div class=&quot;filter-search-nav&quot;&gt;
			&lt;div class=&quot;inner&quot;&gt;

				&lt;div class=&quot;g g-4up&quot;&gt;
						&lt;div class=&quot;gi&quot;&gt;
						    &lt;div class=&quot;field-container&quot;&gt;
					        &lt;label for=&quot;search&quot;&gt;Search&lt;/label&gt;
					        &lt;input id=&quot;search&quot; type=&quot;search&quot; placeholder=&quot;Enter Search Term&quot;&gt;
					    &lt;/div&gt;
					&lt;/div&gt;
					&lt;div class=&quot;gi&quot;&gt;
					    &lt;div class=&quot;field-container&quot;&gt;
					        &lt;label for=&quot;search&quot;&gt;Search&lt;/label&gt;
					        &lt;input id=&quot;search&quot; type=&quot;search&quot; placeholder=&quot;Enter Search Term&quot;&gt;
					    &lt;/div&gt;
					&lt;/div&gt;
					&lt;div class=&quot;gi&quot;&gt;
						&lt;fieldset&gt;
						    &lt;div class=&quot;field-container&quot;&gt;
						        &lt;label for=&quot;select&quot;&gt;Select&lt;/label&gt;
						        &lt;select id=&quot;select&quot;&gt;
						            &lt;optgroup label=&quot;Option Group&quot;&gt;
						                &lt;option&gt;Option One&lt;/option&gt;
						                &lt;option&gt;Option Two&lt;/option&gt;
						                &lt;option&gt;Option Three&lt;/option&gt;
						            &lt;/optgroup&gt;
						        &lt;/select&gt;
						    &lt;/div&gt;
						&lt;/fieldset&gt;
					&lt;/div&gt;
					&lt;div class=&quot;gi&quot;&gt;
						&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Search Jobs&lt;/a&gt;
					&lt;/div&gt;
				&lt;/div&gt;

			&lt;/div&gt;
		&lt;/div&gt;

		&lt;div class=&quot;utility-nav&quot;&gt;
			&lt;div class=&quot;inner&quot;&gt;

				&lt;div class=&quot;g g-2up&quot;&gt;
					&lt;div class=&quot;gi&quot;&gt;
						&lt;legend&gt;Filter by type&lt;/legend&gt;
					&lt;/div&gt;
					&lt;div class=&quot;gi&quot;&gt;
						&lt;form action=&quot;#&quot;&gt;
						    &lt;fieldset class=&quot;options&quot;&gt;
						        &lt;ul&gt;
						            &lt;li&gt;&lt;label for=&quot;checkbox1&quot;&gt;&lt;input id=&quot;checkbox1&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot; checked=&quot;checked&quot;&gt; Fulltime&lt;/label&gt;&lt;/li&gt;
						            &lt;li&gt;&lt;label for=&quot;checkbox2&quot;&gt;&lt;input id=&quot;checkbox2&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot;&gt; Part-time&lt;/label&gt;&lt;/li&gt;
						            &lt;li&gt;&lt;label for=&quot;checkbox3&quot;&gt;&lt;input id=&quot;checkbox3&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot;&gt; Fixed term&lt;/label&gt;&lt;/li&gt;
						            &lt;li&gt;&lt;label for=&quot;checkbox3&quot;&gt;&lt;input id=&quot;checkbox3&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot;&gt; Freelance&lt;/label&gt;&lt;/li&gt;
						            &lt;li&gt;&lt;label for=&quot;checkbox3&quot;&gt;&lt;input id=&quot;checkbox3&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot;&gt; Other&lt;/label&gt;&lt;/li&gt;       
						        &lt;/ul&gt;
						    &lt;/fieldset&gt;
						&lt;/form&gt;
					&lt;/div&gt;
				&lt;/div&gt;

			&lt;/div&gt;
		&lt;/div&gt;

	&lt;div role=&quot;main&quot;&gt;

		&lt;div class=&quot;listings top-shelf&quot;&gt;
			&lt;h4&gt;Top shelf listings&lt;/h4&gt;
			{{&gt; organisms-job-listing }}
		&lt;/div&gt;

		&lt;div class=&quot;listings&quot;&gt;
			&lt;h4&gt;Showing 1,234 jobs&lt;/h4&gt;
			{{&gt; organisms-job-listing }}
		&lt;/div&gt;


	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-prefooter }}
	{{&gt; organisms-footer }}
&lt;/div&gt;