&lt;div class=&quot;loader&quot; title=&quot;1&quot;&gt;
  &lt;svg version=&quot;1.1&quot; id=&quot;loader-1&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; x=&quot;0px&quot; y=&quot;0px&quot;
     width=&quot;40px&quot; height=&quot;40px&quot; viewBox=&quot;0 0 50 50&quot; style=&quot;enable-background:new 0 0 50 50;&quot; xml:space=&quot;preserve&quot;&gt;
  &lt;path fill=&quot;#000&quot; d=&quot;M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z&quot;&gt;
    &lt;animateTransform attributeType=&quot;xml&quot;
      attributeName=&quot;transform&quot;
      type=&quot;rotate&quot;
      from=&quot;0 25 25&quot;
      to=&quot;360 25 25&quot;
      dur=&quot;0.6s&quot;
      repeatCount=&quot;indefinite&quot;/&gt;
    &lt;/path&gt;
  &lt;/svg&gt;
&lt;/div&gt;