<nav id="nav" class="nav">
	<ul class="nav-list">
		<li><a href="{{ url }}">Find a Job</a></li>
		<li><a href="{{ url }}">Post a Job</a></li>
		<li><a href="{{ url }}">Pricing</a></li>
	</ul>

	<ul class="nav-controls">
		<li><a href="{{ url }}">Login</a></li>
		<li class="create-account"><a href="{{ url }}" class="btn">Create your account</a></li>
	</ul>
</nav><!--end .nav-->
