<ul class="nav-footer">
	<li><a href="{{ url }}">Search Jobs</a></li>
	<li><a href="{{ url }}">About us</a></li>
	<li><a href="{{ url }}">Contact us</a></li>
	<li><a href="{{ url }}">Pricing</a></li>
	<li><a href="{{ url }}">Report a problem</a></li>
	<li><a href="{{ url }}">PIE Blog</a></li>	
</ul>