		<div class="utility-nav">
			<div class="inner">

				<div class="g g-2up">
					<div class="gi gi-10">
						<legend class="utility-nav--label"><strong>Filter by type</strong></legend>
					</div>
					<div class="gi gi-90">
						<form action="#">
						    {{> atoms-checkbox-inline }}
						</form>
					</div>
				</div>

			</div>
		</div>