<nav id="nav" class="nav">
	<ul class="nav-list">
		<li><a href="{{ url }}">Find a Job</a></li>
		<li><a href="{{ url }}">Post a Job</a></li>
		<li><a href="{{ url }}">Pricing</a></li>
	</ul>

	<ul class="nav-controls">
		<li><a href="{{ url }}" aria-haspopup="true">xx</a>
	            {{> atoms-dd-list }}
		</li>
		<li class="logout"><a href="{{ url }}" class="btn logout">Logout</a></li>
	</ul>
</nav><!--end .nav-->