		<div class="utility-nav">
			<div class="inner">

				<div class="g g-4up">
					<div class="gi">
						<a class="utility-nav--link" href="">&laquo; Back to Search</a>
					</div>
					<div class="gi"></div>
					<div class="gi"></div>
					<div class="gi inlined">
						<a href="#" class="btn alt star"><img src="../../images/star-outlined.svg"> Bookmark this Job</a>
					</div>
				</div>


			</div>
		</div>