		<div class="utility-nav">
			<div class="inner">

				<div class="g g-2up">
					<div class="gi">
						<p class="utility-nav--link">Success! You added the 'XX' package to your cart</p>
					</div>
					<div class="gi">
						<div class="right-skinny">
							<a href="#" class="btn">Add more listings</a>
						</div>
					</div>
				</div>

			</div>
		</div>		