		<div class="utility-nav">
			<div class="inner">

				<div class="g g-2up">
					<div class="gi">
						Thanks for choosing the Silver package. We need just a bit more info from you
					</div>
					<div class="gi">

					</div>
				</div>

			</div>
		</div>		