		<div class="utility-nav">
			<div class="inner">

				<div class="g g-2up">
					<div class="gi gi-2-3">
						<p class="utility-nav--link">You are currently signed in as <b>name@name.com</b></p>
					</div>
					<div class="gi gi-1-3 inlined">
						<a href="#" class="btn logout"><img src="../../images/logout.svg"> Sign out</a>
					</div>
				</div>


			</div>
		</div>