
<nav class="homepage nav-collapse" id="nav">
	<ul class="menu-items">
		<li><a href="{{ url }}">Find a Job</a></li>
		<li><a href="{{ url }}">Post a Job</a></li>
		<li><a href="{{ url }}">Pricing</a></li>		
		<li class="line"><a href="{{ url }}">Login</a></li>
		<li><a href="{{ url }}"><button class="btn">Create your account</button></a></li>
	</ul>
</nav><!--end .nav-->