/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form ol, form ul {
	list-style: none;
	margin-left: 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
	display: table-cell; //for firefox
}

label {
	display: block;
	font-weight: bold;
	text-align: left;
	font-size: $font-size-small-px;
	padding-bottom: $space-half;
}

label.light {
	font-weight: normal;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 90%;
    margin: 0 1px 0;
}

input, select, textarea {
	width: 100%;
	border: 1px solid $grey-light;
	border-radius: 5px;
	padding: $pad-and-bit 0.75rem;
}

.field-container select {
	width: 100%;
	border: 1px solid $grey-light;
	border-radius: 5px;
	padding: $pad-and-bit 0.75rem;
	height: 100%;
	overflow: hidden;
	background: url("../images/up-down-arrow-select.svg") no-repeat 95% $white;
   -webkit-appearance: none;
}

input[type=text],
input[type=search],
input[type=url],
input[type=number],
input[type=newsletter],
input[type=email],
textarea {
	-webkit-appearance: none;

	&:focus {
		outline: 0;
		border: 1px solid $mid;
	}

}

.newsletter-field {
    width: 90%;
}

.newsletter-submit,
.newsletter-field {
    height:55px;
}

@media all and (min-width: $bp-med) {
	.newsletter-field {
		width: 68%;
	}
}

.ondark input[type=text],
.ondark input[type=search],
.ondark input[type=url],
.ondark input[type=number],
.ondark input[type=newsletter],
.ondark input[type=email],
.ondark input,
.ondark select,
.field-container.ondark select,
.ondark textarea {
	border: 0px;
	-webkit-appearance: none;

	&:focus {
		outline: 0;
		border: 0px;
	}

}

input[type="submit"] {
	padding: $pad-half;
	background: $grey-dark;
	border: 1px solid $grey-light;
	cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 0.3em;
}

input[type="search"] {
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

//Form Field Container
.field-container {
	margin-bottom: $space-and-half;
    position: relative;
}

.inline-form {
	fieldset, .inline-container {
		position: relative;
	}

	input[type=submit], button, .btn {
		font-size: $font-size-small-2;
		padding: 1.33rem 1.45rem;
		background: $brand-green;
		text-transform: uppercase;
		border-radius: 0px 5px 5px 0px;
		position: absolute;
		top: 0;
		right: 10px;
		z-index: 1;
		width: auto;

		&:hover, &:focus {
			background: $brand-green-dark;
			color: $white;
			// position: relative;
			top: 0px;
			right: 10px;
		}
	}
}

/* Validation */
.has-error {
	border-color: $error;
}
.is-valid {
	border-color: $valid;
}
.form-error {
    color:$error;
}

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/

/* Search Form */
.search-field {
	padding-right: 3em;
}
.inline-form .search-submit {
	background: none;
	padding: 0.78em 1em;
	border: 0;
	border-left: 1px solid $grey;
	color: $grey;
}

.validatr-message {
    min-width: 12em;
}

.smaller-control {
    padding:0.5rem;
}