/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/

/* Clearfix */
.cf {
    *zoom: 1;
}
.cf:before, .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

button {
    outline: 0;
    border: 0;
}

/* Completely remove from the flow and screen readers. */
.is-hidden {
    display: none !important;
    visibility: hidden !important;
}

/* Completely remove from the flow but leave available to screen readers. */
.is-vishidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Floats */
.right {
	float: right;
	padding: 0 0 $pad $pad;
}

.right-skinny {
    float: right;
    padding: 0;
}

.right-search {
	float: right;
	padding: 0 0 $pad 0;
}

.left {
	float: left;
	padding: 0 $pad $pad 0;
}

.left-skinny {
    float: left;
    padding: 0;
}

/* Text-Align */
.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

/* Misc */
.middle {
    margin: 0 auto;
    text-align: center;
}

/* Display Classes */
.hide-small {
    @media all and (max-width: $bp-med) {
        display: none;
    }
}

.hide-med {
    @media all and (min-width: $bp-med) and (max-width: $bp-large) {
        display: none;
    }
}

.hide-large {
    @media all and (min-width: $bp-large) {
        display: none;
    }
}

//States
.valid {
	color: $valid;
}

.error {
	color: $error;
}

.warning {
    color: $warning;
}

.information {
    color: $information;
}

.font-serif {
    font-family: $font-serif;
}

.font-header {
    font-family: $font-header;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}