/* ==========================================================================
   Links
   ========================================================================== */

a {
	color: $brand-blue;
	text-decoration: none;
	outline: 0;
	
	&:hover, &:focus {
		color: $brand-blue;
		text-decoration: underline;
	}
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}