ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ol li, ul li {
	margin-bottom: $space;
}

ol li ol, ul li ul {
	margin-left: $space;
}

/* Definition Lists */
dl {
	overflow: hidden;
	margin: 0 0 $space;
}

dt {
	font-weight: bold;
	margin-top: $space;
}

dd {
	margin-left: 0;
}