		&lt;section class=&quot;section&quot;&gt;
		
		&lt;h3 class=&quot;middle&quot;&gt;Login&lt;/h3&gt;

		&lt;p class=&quot;middle&quot;&gt;Welcome back to the PIE Jobs&lt;/p&gt;

		&lt;fieldset&gt;

		    &lt;div class=&quot;field-container&quot;&gt;
		        &lt;label for=&quot;emailaddress&quot;&gt;Email Address&lt;/label&gt;
		        &lt;input id=&quot;emailaddress&quot; type=&quot;email&quot; placeholder=&quot;name@email.com&quot;&gt;
		    &lt;/div&gt;

		    &lt;div class=&quot;field-container&quot;&gt;
		        &lt;label for=&quot;password&quot;&gt;Password&lt;/label&gt;
		        &lt;input id=&quot;password&quot; type=&quot;password&quot; placeholder=&quot;Type your Password&quot;&gt;
		        &lt;br&gt;
		        &lt;p&gt;&lt;a href=&quot;#&quot;&gt;Forgot password?&lt;/a&gt;&lt;/p&gt;
		    &lt;/div&gt;

			&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn caps&quot;&gt;Button Caps&lt;/a&gt;&lt;/p&gt;

			&lt;p class=&quot;middle&quot;&gt;&lt;a href=&quot;#&quot;&gt;Not a member? Create your account now&lt;/a&gt;&lt;/p&gt;

		&lt;/fieldset&gt;
		&lt;/section&gt;