		&lt;section class=&quot;section&quot;&gt;
		
		&lt;span class=&quot;popup-btn-close&quot;&gt;&lt;img src=&quot;../../images/cross.svg&quot;&gt;&lt;/span&gt;

		&lt;h3 class=&quot;middle&quot;&gt;Application sent!&lt;/h3&gt;
		&lt;br&gt;
		&lt;p class=&quot;middle&quot;&gt;Thanks for applying for the position of:&lt;/p&gt;
		&lt;p class=&quot;middle&quot;&gt;&lt;strong&gt;{{ job.title }}&lt;/strong&gt; at &lt;strong&gt;{{ job.employer }}&lt;/strong&gt;. &lt;/p&gt;

		&lt;p class=&quot;middle&quot;&gt;Good luck!&lt;/p&gt;

		&lt;p&gt;&lt;br&gt;&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Button Caps&lt;/a&gt;&lt;/p&gt;

		&lt;/section&gt;