@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.font-sans-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.font-sans-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.font-sans-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

.font-sans-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.font-sans-header-regular {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.font-sans-header-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

@mixin link($color, $text-decoration: none)
{
    color: $color;
    text-decoration: $text-decoration;
    &:visited,
    &:hover,
    &:active {
        color: $color;
        text-decoration: $text-decoration;
    }
}

@mixin rem($pxsize, $line-height: false)
{
    font-size: $pxsize + px;
    font-size: ($pxsize / 16) + rem;
    @if $line-height {
        line-height: ($line-height / $pxsize);
    }
}