&lt;h3&gt;Your order summary&lt;/h3&gt;

&lt;p&gt;Order number: &lt;strong&gt;5692&lt;/strong&gt;&lt;br&gt;
Date: &lt;strong&gt;July 13, 2015&lt;/strong&gt;&lt;br&gt;
Total: &lt;strong&gt;&pound;350.00&lt;/strong&gt;&lt;br&gt;
Payment method: &lt;strong&gt;Credit card&lt;/strong&gt;&lt;/p&gt;
