&lt;!-- Begin .header --&gt;
&lt;a class=&quot;skip-link screen-reader-text&quot; href=&quot;#main&quot;&gt;Skip to content&lt;/a&gt;
&lt;header class=&quot;header cf&quot; role=&quot;banner&quot;&gt;
	&lt;div class=&quot;header-inner&quot;&gt;
	{{&gt; atoms-logo }}
	&lt;button id=&quot;nav-toggle&quot; class=&quot;nav-toggle&quot;&gt;Open menu&lt;/button&gt;
	{{&gt; molecules-primary-nav }}
	&lt;/div&gt;
&lt;/header&gt;
&lt;!-- End .header --&gt;