<div class="table-responsive">
<table class="account manage-bookmarks">
	<thead>
		<tr>
			<th>Bookmark</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td class="account-table-info">
			<p>{{> atoms-time }}</p>
			<p><strong><a href="{{ url }}">{{ job.title }}</a></strong></p>
			<p class="small">{{ job.employer }}</p>
		</td>
		<td>
			<p class="read-only">{{ excerpt.medium }}</p>
		</td>
	</tr>
	<tr>
		<td class="account-table-info">
			<p>{{> atoms-time }}</p>
			<p><strong><a href="{{ url }}">{{ job.title }}</a></strong></p>
			<p class="small">{{ job.employer }}</p>
		</td>
		<td>
			<p class="read-only">{{ excerpt.short }}</p>
		</td>
	</tr>
	</tbody>
</table>
</div>