<div class="md-modal md-effect-7" id="modal-1">
	<div class="md-content">

		{{> organisms-modal-stats }}
		
	</div>
</div>

		<table class="account manage-jobs">
	<thead>
		<tr>
			<th>Job title</th>
			<th>Filled?</th>
			<th>Date posted</th>
			<th>Date expires</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td class="third">
			<p>Marketing manager</p>
			<div class="click-nav">
			  <ul class="no-js">
			    <li>
			      <a href="#" class="clicker"><small class="caps">More</small></a>
			      <ul>
					<li><a href="#" class="md-trigger" data-modal="modal-1">Show stats</a></li>
					<li><a href="#">Edit</a></li>
					<li><a href="#">Disable</a></li>
					<li><a href="#"><strong>BUMP</strong></a></li>
					<li><a href="#"><span class="red">Delete</span></a></li>
			      </ul>
			    </li>
			  </ul>
			</div>
		</td>
		<td>
			<p class="small">-</p>
		</td>
		<td>
			<p class="small">July 13, 2015</p>
		</td>
		<td>
			<p class="small">August 20, 2015</p>
		</td>
	</tr>
	<tr>
		<td class="third">
			<p>Sales director</p>
			<div class="click-nav">
			  <ul class="no-js">
			    <li>
			      <a href="#" class="clicker"><small class="caps">More</small></a>
			      <ul>
					<li><a href="#" class="md-trigger" data-modal="modal-1">Show stats</a></li>
					<li><a href="#">Edit</a></li>
					<li><a href="#">Disable</a></li>
					<li><a href="#"><strong>BUMP</strong></a></li>
					<li><a href="#"><span class="red">Delete</span></a></li>
			      </ul>
			    </li>
			  </ul>
			</div>			
		</td>
		<td>
			<p class="small">-</p>
		</td>
		<td>
			<p class="small">July 13, 2015</p>
		</td>
		<td>
			<p class="small">August 20, 2015</p>
		</td>
	</tr>
	</tbody>
</table>