<div class="table-responsive">
<table class="account manage-jobs">
	<thead>
		<tr>
			<th>Job title</th>
			<th>Filled?</th>
			<th>Date posted</th>
			<th>Date expires</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td class="third">
			<p>Marketing manager&nbsp;<span class="read-only">|</span>&nbsp;<button class="text-btn popup-trigger caps"><b>Bump</b></button></p>
		      <ul class="inline-list caps">
				<li><button class="text-btn popup-trigger caps">Stats</button></li>
				<li><a href="#">Edit</a></li>
				<li><a href="#">Disable</a></li>
				<li><a href="#"><span class="red">Delete</span></a></li>
		      </ul>
		</td>
		<td>
			<p class="small">-</p>
		</td>
		<td>
			<p class="small">July 13, 2015</p>
		</td>
		<td>
			<p class="small">August 20, 2015</p>
		</td>
	</tr>
	<tr>
		<td class="third">
			<p>Sales director&nbsp;<span class="read-only">|</span>&nbsp;<button class="text-btn popup-trigger caps"><b>Bump</b></button></p>
		      <ul class="inline-list caps">
				<li><button class="text-btn popup-trigger caps">Stats</button></li>
				<li><a href="#">Edit</a></li>
				<li><a href="#">Disable</a></li>
				<li><a href="#"><span class="red">Delete</span></a></li>
		      </ul>		
		</td>
		<td>
			<p class="small">-</p>
		</td>
		<td>
			<p class="small">July 13, 2015</p>
		</td>
		<td>
			<p class="small">August 20, 2015</p>
		</td>
	</tr>
	</tbody>
</table>
</div>