<div class="table-responsive">
<table class="account manage-alerts">
	<thead>
		<tr>
			<th>Alert name</th>
			<th>Date created</th>
			<th>Keywords</th>
			<th>Location</th>
			<th>Frequency</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td colspan="6">
			<p><a href="{{ url }}">Add alert</a></p>
		</td>
	</tr>
	<tr>
		<td class="third">
			<p>This is a long title of an alert</p>
		      <ul class="inline-list">
					<li><button class="text-btn popup-trigger">Show results</button></li>
					<li><a href="#">Email</a></li>
					<li><a href="#">Edit</a></li>
					<li><a href="#">Disable</a></li>
					<li><a href="#"><span class="red">Delete</span></a></li>
		      </ul>
		</td>
		<td>
			<p class="small">July 13, 2015</p>
		</td>
		<td>
			<p class="small">'design' 'marketing' 'management'</p>
		</td>
		<td>
			<p class="small">London</p>
		</td>
		<td>
			<p class="small">Weekly</p>
		</td>
		<td>
			<p class="small">Enabled</p>
		</td>
	</tr>
	<tr>
		<td class="third">
			<p>This is a test</p>
		      <ul class="inline-list">
					<li><button class="text-btn popup-trigger">Show results</button></li>
					<li><a href="#">Email</a></li>
					<li><a href="#">Edit</a></li>
					<li><a href="#">Disable</a></li>
					<li><a href="#"><span class="red">Delete</span></a></li>
		      </ul>		
		</td>
		<td>
			<p class="small">July 13, 2015</p>
		</td>
		<td>
			<p class="small">'design'</p>
		</td>
		<td>
			<p class="small">London</p>
		</td>
		<td>
			<p class="small">Weekly</p>
		</td>
		<td>
			<p class="small">Enabled</p>
		</td>
	</tr>
	</tbody>
</table>
</div>