&lt;div class=&quot;social-share&quot;&gt;
	&lt;ul class=&quot;social-share-list&quot;&gt;
		&lt;li class=&quot;share-title&quot;&gt;Share this job listing&lt;/li&gt;
		&lt;li&gt;&lt;a class=&quot;icon-twitter&quot; href=&quot;{{ url }}&quot;&gt;&amp;nbsp;&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a class=&quot;icon-facebook&quot; href=&quot;{{ url }}&quot;&gt;&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a class=&quot;icon-linkedin&quot; href=&quot;{{ url }}&quot;&gt;&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a class=&quot;icon-google-plus&quot; href=&quot;{{ url }}&quot;&gt;&lt;/a&gt;&lt;/li&gt;	
	&lt;/ul&gt;
&lt;/div&gt;