&lt;ul class=&quot;nav-footer&quot;&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Search Jobs&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;About us&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Contact us&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Pricing&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Report a problem&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;PIE Blog&lt;/a&gt;&lt;/li&gt;	
&lt;/ul&gt;