		&lt;section class=&quot;section&quot;&gt;
		
		&lt;span class=&quot;popup-btn-close&quot;&gt;&lt;img src=&quot;../../images/cross.svg&quot;&gt;&lt;/span&gt;

		&lt;h3 class=&quot;middle&quot;&gt;Bump up your job ad&lt;/h3&gt;

		&lt;p class=&quot;middle&quot;&gt;Bump your job ad to the top of the job listings quickly and easily.  Bumps last the duration of your remaining job listing and can be added as many times as you like.&lt;/p&gt;

		&lt;p class=&quot;middle&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;{{ img.landscape-4x3.src }}&quot; alt=&quot;{{ img.landscape-4x3.alt }}&quot; /&gt;&lt;/a&gt;&lt;/p&gt;
			&lt;br&gt;
		&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Bump up my ad&lt;/a&gt;&lt;/p&gt;

		&lt;/section&gt;