
&lt;nav class=&quot;homepage nav-collapse&quot; id=&quot;nav&quot;&gt;
	&lt;ul class=&quot;menu-items&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Find a Job&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Post a Job&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Pricing&lt;/a&gt;&lt;/li&gt;		
		&lt;li class=&quot;line&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Login&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;&lt;button class=&quot;btn&quot;&gt;Create your account&lt;/button&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;&lt;!--end .nav--&gt;