&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}

		&lt;div class=&quot;page-title&quot;&gt;
			&lt;header class=&quot;article-header&quot;&gt;
				&lt;h1&gt;Checkout&lt;/h1&gt;
				{{&gt; molecules-helper }}
			&lt;/header&gt;
		&lt;/div&gt;


		{{&gt; molecules-utility-nav-success }}

	&lt;div role=&quot;main&quot;&gt;

		&lt;div class=&quot;l-two-col&quot;&gt;
			&lt;div class=&quot;l-main&quot;&gt;
				&lt;article class=&quot;article&quot;&gt;

				&lt;h4&gt;Your Company Information&lt;/h4&gt;
				&lt;br&gt;			

				&lt;p&gt;&lt;span class=&quot;caps&quot;&gt;Company name&lt;/span&gt;&lt;br&gt;&lt;span class=&quot;read-only&quot;&gt;Navitas UK&lt;/span&gt;&lt;/p&gt;
				&lt;p&gt;&lt;span class=&quot;caps&quot;&gt;Company site URL&lt;/span&gt;&lt;br&gt;&lt;span class=&quot;read-only&quot;&gt;http://navitas.co.uk&lt;/span&gt;&lt;/p&gt;
				&lt;p&gt;&lt;span class=&quot;caps&quot;&gt;Company Twitter&lt;/span&gt;&lt;br&gt;&lt;span class=&quot;read-only&quot;&gt;@Navitas_UK&lt;/span&gt;&lt;/p&gt;
				&lt;p&gt;&lt;span class=&quot;caps&quot;&gt;Company LinkedIn&lt;/span&gt;&lt;br&gt;&lt;span class=&quot;read-only&quot;&gt;linkedin.com/172942&lt;/span&gt;&lt;/p&gt;
				&lt;p&gt;&lt;span class=&quot;caps&quot;&gt;Company logo&lt;/span&gt;&lt;br&gt;&lt;span class=&quot;read-only&quot;&gt;Navitas UK&lt;/span&gt;&lt;/p&gt;
				&lt;p&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Edit this information&lt;/a&gt;

				&lt;form method=&quot;post&quot; action=&quot;{{ url }}&quot; class=&quot;form&quot;&gt;
					&lt;fieldset&gt;
						&lt;hr /&gt;


						&lt;h4&gt;Invoicing Information&lt;/h4&gt;
						&lt;br&gt; 

					    &lt;div class=&quot;field-container&quot;&gt;
							&lt;fieldset&gt;
							    &lt;div class=&quot;field-container&quot;&gt;
							        &lt;label for=&quot;select&quot;&gt;Country &lt;abbr title=&quot;Required&quot;&gt;*&lt;/abbr&gt;&lt;/label&gt;
							        &lt;select id=&quot;select&quot;&gt;
							            &lt;optgroup label=&quot;Option Group&quot;&gt;
							                &lt;option&gt;Option One&lt;/option&gt;
							                &lt;option&gt;Option Two&lt;/option&gt;
							                &lt;option&gt;Option Three&lt;/option&gt;
							            &lt;/optgroup&gt;
							        &lt;/select&gt;
							    &lt;/div&gt;
							&lt;/fieldset&gt;
						&lt;/div&gt;

						&lt;div class=&quot;field-container&quot;&gt;
							&lt;label for=&quot;town&quot;&gt;Town/City &lt;abbr title=&quot;Required&quot;&gt;*&lt;/abbr&gt;&lt;/label&gt;
							&lt;input id=&quot;town&quot; type=&quot;text&quot; placeholder=&quot;Enter a location&quot; /&gt;
						&lt;/div&gt;

						&lt;div class=&quot;field-container&quot;&gt;
							&lt;label for=&quot;county&quot;&gt;Town/City &lt;abbr title=&quot;Required&quot;&gt;*&lt;/abbr&gt;&lt;/label&gt;
							&lt;input id=&quot;county&quot; type=&quot;text&quot; placeholder=&quot;Enter a location&quot; /&gt;
						&lt;/div&gt;

						&lt;div class=&quot;field-container&quot;&gt;
							&lt;label for=&quot;street&quot;&gt;Company address &lt;abbr title=&quot;Required&quot;&gt;*&lt;/abbr&gt;&lt;/label&gt;
							&lt;input id=&quot;street&quot; type=&quot;text&quot; placeholder=&quot;Street number &amp; name&quot; /&gt;
						&lt;/div&gt;

						&lt;div class=&quot;field-container&quot;&gt;
							&lt;label for=&quot;suite&quot;&gt;Suite, unit etc&lt;/label&gt;
							&lt;input id=&quot;suite&quot; type=&quot;text&quot; placeholder=&quot;Suite, office, etc&quot; /&gt;
						&lt;/div&gt;						

						&lt;div class=&quot;field-container&quot;&gt;
							&lt;label for=&quot;post-cde&quot;&gt;Post Code &lt;abbr title=&quot;Required&quot;&gt;*&lt;/abbr&gt;&lt;/label&gt;
							&lt;input id=&quot;post-code&quot; type=&quot;text&quot; placeholder=&quot;Enter a Post code or ZIP&quot; /&gt;
						&lt;/div&gt;						

						&lt;div class=&quot;field-container&quot;&gt;
							&lt;label for=&quot;vat&quot;&gt;Are you VAT-registered? &lt;abbr title=&quot;Required&quot;&gt;*&lt;/abbr&gt;&lt;/label&gt;
							&lt;input id=&quot;vat&quot; type=&quot;text&quot; placeholder=&quot;Your VAT or charity number&quot; /&gt;
						&lt;/div&gt;

					&lt;/fieldset&gt;
				&lt;/form&gt;
					
					&lt;p&gt;&lt;button class=&quot;btn caps&quot;&gt;Proceed to Payment&lt;/button&gt;&lt;/p&gt;

				&lt;/article&gt;&lt;!--end .article--&gt;

				
			&lt;/div&gt;&lt;!--end l-main--&gt;

			&lt;div class=&quot;l-sidebar&quot;&gt;
				{{&gt; molecules-price-block }}
			&lt;/div&gt;&lt;!--end l-sidebar--&gt;

		&lt;/div&gt;&lt;!--end l-two-col--&gt;	
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-prefooter }}
	{{&gt; organisms-footer }}
&lt;/div&gt;