
&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header-logged-in }}

		&lt;div class=&quot;page-title&quot;&gt;
			&lt;header class=&quot;article-header&quot;&gt;
				&lt;h1&gt;{{ job.post }}&lt;/h1&gt;
				{{&gt; molecules-helper }}
			&lt;/header&gt;
		&lt;/div&gt;

		{{&gt; molecules-utility-nav-signed-in }}

	&lt;div role=&quot;main&quot;&gt;

		&lt;div class=&quot;l-two-col&quot;&gt;
			&lt;div class=&quot;l-main&quot;&gt;
				&lt;article class=&quot;article&quot;&gt;

				&lt;form method=&quot;post&quot; action=&quot;{{ url }}&quot; class=&quot;form&quot;&gt;
					&lt;fieldset&gt;
						&lt;div class=&quot;field-container&quot;&gt;
							&lt;label for=&quot;job-title&quot;&gt;Job Title &lt;abbr title=&quot;Required&quot;&gt;*&lt;/abbr&gt;&lt;/label&gt;
							&lt;input id=&quot;job-title&quot; type=&quot;text&quot; placeholder=&quot;e.g. Marketing Manager&quot; /&gt;
						&lt;/div&gt;
						&lt;div class=&quot;field-container&quot;&gt;
							&lt;label for=&quot;location&quot;&gt;Location (optional)&lt;/label&gt;
							&lt;input id=&quot;location&quot; type=&quot;text&quot; placeholder=&quot;Enter a location&quot; /&gt;
						&lt;/div&gt;
					    &lt;div class=&quot;field-container&quot;&gt;
							&lt;fieldset&gt;
							    &lt;div class=&quot;field-container&quot;&gt;
							        &lt;label for=&quot;select&quot;&gt;Job type &lt;abbr title=&quot;Required&quot;&gt;*&lt;/abbr&gt;&lt;/label&gt;
							        &lt;select id=&quot;select&quot;&gt;
							            &lt;optgroup label=&quot;Option Group&quot;&gt;
							                &lt;option&gt;Option One&lt;/option&gt;
							                &lt;option&gt;Option Two&lt;/option&gt;
							                &lt;option&gt;Option Three&lt;/option&gt;
							            &lt;/optgroup&gt;
							        &lt;/select&gt;
							    &lt;/div&gt;
							&lt;/fieldset&gt;
					    &lt;/div&gt;
					    &lt;div class=&quot;field-container&quot;&gt;
							&lt;fieldset&gt;
							    &lt;div class=&quot;field-container&quot;&gt;
							        &lt;label for=&quot;select&quot;&gt;Category &lt;abbr title=&quot;Required&quot;&gt;*&lt;/abbr&gt;&lt;/label&gt;
							        &lt;select id=&quot;select&quot;&gt;
							            &lt;optgroup label=&quot;Option Group&quot;&gt;
							                &lt;option&gt;Option One&lt;/option&gt;
							                &lt;option&gt;Option Two&lt;/option&gt;
							                &lt;option&gt;Option Three&lt;/option&gt;
							            &lt;/optgroup&gt;
							        &lt;/select&gt;
							    &lt;/div&gt;
							&lt;/fieldset&gt;
					    &lt;/div&gt;
						&lt;div class=&quot;field-container&quot;&gt;
							&lt;label for=&quot;job-tags&quot;&gt;Job tags (optional)&lt;/label&gt;
							&lt;input id=&quot;job-tags&quot; type=&quot;text&quot; placeholder=&quot;Separate by comma&quot; /&gt;
						&lt;/div&gt;
						&lt;div class=&quot;field-container&quot;&gt;
							&lt;label for=&quot;application-email&quot;&gt;Application email or URL&lt;/label&gt;
							&lt;input id=&quot;application-email&quot; type=&quot;email&quot; placeholder=&quot;name@example.com&quot; /&gt;
						&lt;/div&gt;
					    &lt;div class=&quot;field-container&quot;&gt;
							&lt;fieldset&gt;
							    &lt;div class=&quot;field-container&quot;&gt;
							        &lt;label for=&quot;select&quot;&gt;Bonus or commission scheme&lt;/label&gt;
							        &lt;select id=&quot;select&quot;&gt;
							            &lt;optgroup label=&quot;Option Group&quot;&gt;
							                &lt;option&gt;Option One&lt;/option&gt;
							                &lt;option&gt;Option Two&lt;/option&gt;
							                &lt;option&gt;Option Three&lt;/option&gt;
							            &lt;/optgroup&gt;
							        &lt;/select&gt;
							    &lt;/div&gt;
							&lt;/fieldset&gt;
					    &lt;/div&gt;						
					    &lt;div class=&quot;field-container&quot;&gt;
					        &lt;label for=&quot;close-date&quot;&gt;Close date &lt;abbr title=&quot;Required&quot;&gt;*&lt;/abbr&gt;&lt;/label&gt;
					        &lt;input id=&quot;close-date&quot; type=&quot;text&quot; placeholder=&quot;DD/MM/YYYY&quot;&gt;
					    &lt;/div&gt;
						&lt;div class=&quot;field-container&quot;&gt;
							&lt;label for=&quot;salary&quot;&gt;Salary &lt;abbr title=&quot;Required&quot;&gt;*&lt;/abbr&gt;&lt;/label&gt;
							&lt;input id=&quot;salary&quot; type=&quot;text&quot; placeholder=&quot;Enter a figure or range&quot; /&gt;
						&lt;/div&gt;
						&lt;div class=&quot;field-container&quot;&gt;
							&lt;label for=&quot;language-skills&quot;&gt;Language skills required (optional)&lt;/label&gt;
							&lt;input id=&quot;language-skills&quot; type=&quot;text&quot; placeholder=&quot;French, Spanish, etc&quot; /&gt;
						&lt;/div&gt;
						&lt;div class=&quot;field-container&quot;&gt;
						    &lt;label for=&quot;job-description&quot;&gt;Description &lt;abbr title=&quot;Required&quot;&gt;*&lt;/abbr&gt;&lt;/label&gt;
						    &lt;textarea id=&quot;job-description&quot; rows=&quot;8&quot; cols=&quot;48&quot; placeholder=&quot;Enter your description&quot;&gt;&lt;/textarea&gt;
						&lt;/div&gt;

						&lt;hr /&gt;


					    &lt;div class=&quot;field-container&quot;&gt;
					        &lt;label for=&quot;company-name&quot;&gt;Company name &lt;abbr title=&quot;Required&quot;&gt;*&lt;/abbr&gt;&lt;/label&gt;
					        &lt;input id=&quot;company-name&quot; type=&quot;text&quot; placeholder=&quot;e.g. Acme Corp&quot;&gt;
					    &lt;/div&gt;
					    &lt;div class=&quot;field-container&quot;&gt;
					        &lt;label for=&quot;webaddress&quot;&gt;Company site URL&lt;/label&gt;
					        &lt;input id=&quot;webaddress&quot; type=&quot;url&quot; placeholder=&quot;http://yoursite.com&quot;&gt;
					    &lt;/div&gt;	
					    &lt;div class=&quot;field-container&quot;&gt;
					        &lt;label for=&quot;twitter&quot;&gt;Company Twitter&lt;/label&gt;
					        &lt;input id=&quot;twitter&quot; type=&quot;url&quot; placeholder=&quot;@username&quot;&gt;
					    &lt;/div&gt;	
					    &lt;div class=&quot;field-container&quot;&gt;
					        &lt;label for=&quot;linkedin&quot;&gt;Company LinkedIn&lt;/label&gt;
					        &lt;input id=&quot;linkedin&quot; type=&quot;url&quot; placeholder=&quot;/url&quot;&gt;
					    &lt;/div&gt;						    
					    &lt;div class=&quot;field-container&quot;&gt;
						    &lt;label for=&quot;webaddress&quot;&gt;Company logo&lt;/label&gt;
						    &lt;p&gt;Upload your logo in .png, .jpg or .gif format.&lt;br&gt;&lt;em&gt;Maximum file size: 1MB&lt;/em&gt;&lt;/p&gt;
					        &lt;p&gt;&lt;button class=&quot;text-btn&quot;&gt;Choose file&lt;/button&gt;&lt;/p&gt;
					    &lt;/div&gt;						    
					&lt;/fieldset&gt;
				&lt;/form&gt;
					
					&lt;p&gt;&lt;button class=&quot;btn caps&quot;&gt;Save &amp; Preview&lt;/button&gt;&lt;/p&gt;

				&lt;/article&gt;&lt;!--end .article--&gt;

				
			&lt;/div&gt;&lt;!--end l-main--&gt;

			&lt;div class=&quot;l-sidebar&quot;&gt;

			&lt;/div&gt;&lt;!--end l-sidebar--&gt;

		&lt;/div&gt;&lt;!--end l-two-col--&gt;	
	&lt;/div&gt;&lt;!--End role=main--&gt;

			
	{{&gt; organisms-prefooter }}
	{{&gt; organisms-footer }}
&lt;/div&gt;


&lt;div class=&quot;md-modal md-effect-1&quot; id=&quot;modal-1&quot;&gt;
	&lt;div class=&quot;md-content&quot;&gt;
		{{&gt; organisms-modal-apply }}
	&lt;/div&gt;
&lt;/div&gt;	