&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}

		&lt;div class=&quot;page-title&quot;&gt;
			&lt;header class=&quot;article-header&quot;&gt;
				&lt;h1&gt;All Jobs&lt;/h1&gt;
				{{&gt; molecules-byline }}
			&lt;/header&gt;
		&lt;/div&gt;

		&lt;div class=&quot;job--listings filter&quot;&gt;
			&lt;div class=&quot;inner&quot;&gt;

				&lt;ul class=&quot;inline-list job--listings search-controls&quot;&gt;
					&lt;li class=&quot;wide&quot;&gt;
					    &lt;div class=&quot;field-container ondark&quot;&gt;
					        &lt;label class=&quot;light&quot; for=&quot;search&quot;&gt;Search&lt;/label&gt;
					        &lt;input id=&quot;search&quot; type=&quot;search&quot; placeholder=&quot;Enter Search Term&quot;&gt;
					    &lt;/div&gt;
					&lt;/li&gt;
					&lt;li class=&quot;narrow&quot;&gt;
					    &lt;div class=&quot;field-container ondark&quot;&gt;
					        &lt;label class=&quot;light&quot; for=&quot;search&quot;&gt;Search&lt;/label&gt;
					        &lt;input id=&quot;search&quot; type=&quot;search&quot; placeholder=&quot;Enter Search Term&quot;&gt;
					    &lt;/div&gt;
					&lt;/li&gt;
					&lt;li class=&quot;wide&quot;&gt;
						&lt;fieldset&gt;
						    &lt;div class=&quot;field-container ondark&quot;&gt;
						        &lt;label class=&quot;light&quot; for=&quot;select&quot;&gt;Select&lt;/label&gt;
						        &lt;select id=&quot;select&quot;&gt;
						            &lt;optgroup label=&quot;Option Group&quot;&gt;
						                &lt;option&gt;Option One&lt;/option&gt;
						                &lt;option&gt;Option Two&lt;/option&gt;
						                &lt;option&gt;Option Three&lt;/option&gt;
						            &lt;/optgroup&gt;
						        &lt;/select&gt;
						    &lt;/div&gt;
						&lt;/fieldset&gt;
					&lt;/li&gt;
					&lt;li class=&quot;narrow last&quot;&gt;
						&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Search Jobs&lt;/a&gt;
					&lt;/li&gt;
				&lt;/ul&gt;


			&lt;/div&gt;
		&lt;/div&gt;

		&lt;div class=&quot;utility-nav&quot;&gt;
			&lt;div class=&quot;inner&quot;&gt;

				&lt;div class=&quot;g g-2up&quot;&gt;
					&lt;div class=&quot;gi gi-1-3&quot;&gt;
						&lt;legend class=&quot;utility-nav--label&quot;&gt;&lt;strong&gt;Filter by type&lt;/strong&gt;&lt;/legend&gt;
					&lt;/div&gt;
					&lt;div class=&quot;gi gi-2-3&quot;&gt;
						&lt;form action=&quot;#&quot;&gt;
						    &lt;fieldset class=&quot;options&quot;&gt;
						        &lt;ul class=&quot;inline-list filters&quot;&gt;
						            &lt;li&gt;&lt;label class=&quot;light&quot; for=&quot;checkbox1&quot;&gt;&lt;input id=&quot;checkbox1&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot; checked=&quot;checked&quot;&gt; Fulltime&lt;/label&gt;&lt;/li&gt;
						            &lt;li&gt;&lt;label class=&quot;light&quot; for=&quot;checkbox2&quot;&gt;&lt;input id=&quot;checkbox2&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot;&gt; Part-time&lt;/label&gt;&lt;/li&gt;
						            &lt;li&gt;&lt;label class=&quot;light&quot; for=&quot;checkbox3&quot;&gt;&lt;input id=&quot;checkbox3&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot;&gt; Fixed term&lt;/label&gt;&lt;/li&gt;
						            &lt;li&gt;&lt;label class=&quot;light&quot; for=&quot;checkbox3&quot;&gt;&lt;input id=&quot;checkbox3&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot;&gt; Freelance&lt;/label&gt;&lt;/li&gt;
						            &lt;li&gt;&lt;label class=&quot;light&quot; for=&quot;checkbox3&quot;&gt;&lt;input id=&quot;checkbox3&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot;&gt; Other&lt;/label&gt;&lt;/li&gt;       
						        &lt;/ul&gt;
						    &lt;/fieldset&gt;
						&lt;/form&gt;
					&lt;/div&gt;
				&lt;/div&gt;

			&lt;/div&gt;
		&lt;/div&gt;

	&lt;div role=&quot;main&quot;&gt;

		&lt;div class=&quot;listings top-shelf&quot;&gt;

		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;half&quot;&gt;&lt;br /&gt;{{&gt; molecules-topshelf-title }}&lt;/div&gt;
			&lt;div class=&quot;half right&quot;&gt;&lt;/div&gt;
		&lt;/div&gt;

			{{&gt; organisms-job-listing }}
		&lt;/div&gt;

		&lt;div class=&quot;listings&quot;&gt;

		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;half&quot;&gt;{{&gt; molecules-results-title }}&lt;/div&gt;
			&lt;div class=&quot;half right&quot;&gt;{{&gt; atoms-rss }}&lt;/div&gt;
		&lt;/div&gt;

			{{&gt; organisms-job-listing }}
			{{&gt; molecules-job-listings-load-more }}
		&lt;/div&gt;


	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-prefooter }}
	{{&gt; organisms-footer }}
&lt;/div&gt;