&lt;div class=&quot;block price-card&quot;&gt;
		
		&lt;p class=&quot;package-type&quot;&gt;Package type&lt;/p&gt;

		{{&gt; molecules-price }}

		{{&gt; atoms-unordered-nostyle }}

&lt;/div&gt;

&lt;div class=&quot;price-totals&quot;&gt;

	{{&gt; atoms-unordered-nostyle }}

&lt;/div&gt;