&lt;section class=&quot;section related-posts&quot;&gt;
	&lt;p class=&quot;section-title&quot;&gt;Recent Tweets&lt;/p&gt;
	&lt;ul class=&quot;headline-list&quot;&gt;
		&lt;li&gt;{{&gt; atoms-time }}&lt;br&gt;&lt;p&gt;&lt;a href=&quot;#&quot;&gt;Headline Lorem ipsum dolor sit amet&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;
		&lt;li&gt;{{&gt; atoms-time }}&lt;br&gt;&lt;p&gt;&lt;a href=&quot;#&quot;&gt;Headline Lorem ipsum dolor sit amet&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;
		&lt;li&gt;{{&gt; atoms-time }}&lt;br&gt;&lt;p&gt;&lt;a href=&quot;#&quot;&gt;Headline Lorem ipsum dolor sit amet&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;
		&lt;li&gt;{{&gt; atoms-time }}&lt;br&gt;&lt;p&gt;&lt;a href=&quot;#&quot;&gt;Headline Lorem ipsum dolor sit amet&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;
		&lt;li&gt;{{&gt; atoms-time }}&lt;br&gt;&lt;p&gt;&lt;a href=&quot;#&quot;&gt;Headline Lorem ipsum dolor sit amet&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;
		&lt;li&gt;{{&gt; atoms-time }}&lt;br&gt;&lt;p&gt;&lt;a href=&quot;#&quot;&gt;Headline Lorem ipsum dolor sit amet&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/section&gt;