&lt;section class=&quot;section job-meta&quot;&gt;
	
	&lt;div class=&quot;g g-2up&quot;&gt;
		&lt;div class=&quot;gi&quot;&gt;
			&lt;div class=&quot;employer-logo&quot;&gt;
				&lt;a href=&quot;{{ url }}&quot;&gt;
				    &lt;div class=&quot;employer-logo-thumb&quot;&gt;
						{{&gt; atoms-square }}
					&lt;/div&gt;
				&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;gi&quot;&gt;
			&lt;div class=&quot;employer-inner&quot;&gt;
				&lt;p class=&quot;employer-link&quot;&gt;&lt;i class=&quot;Icon Icon--globe&quot;&gt;&lt;/i&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ employer.site }}&lt;/a&gt;&lt;/p&gt;
				&lt;p class=&quot;employer-link&quot;&gt;&lt;i class=&quot;Icon Icon--twitter&quot;&gt;&lt;/i&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ employer.twitter }}&lt;/a&gt;&lt;/p&gt;
				&lt;p class=&quot;employer-link&quot;&gt;&lt;i class=&quot;Icon Icon--linkedin&quot;&gt;&lt;/i&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ employer.linkedin }}&lt;/a&gt;&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;	

	{{&gt; atoms-job-meta-list }}
&lt;/section&gt;