<i class="Icon Icon--bell-big"></i>
<i class="Icon Icon--bell"></i>
<i class="Icon Icon--cross"></i>
<i class="Icon Icon--email"></i>
<i class="Icon Icon--ex"></i>
<i class="Icon Icon--facebook"></i>
<i class="Icon Icon--globe"></i>
<i class="Icon Icon--gplus"></i>
<i class="Icon Icon--linkedin"></i>
<i class="Icon Icon--location"></i>
<i class="Icon Icon--logout"></i>
<i class="Icon Icon--profile"></i>
<i class="Icon Icon--rss"></i>
<i class="Icon Icon--small-arrow-down"></i>
<i class="Icon Icon--star-outlined"></i>
<i class="Icon Icon--tag"></i>
<i class="Icon Icon--twitter"></i>
<i class="Icon Icon--up-down-arrow-select"></i>
<i class="Icon Icon--user-account"></i>