&lt;section class=&quot;section job-listing&quot;&gt;
	&lt;div class=&quot;lc&quot;&gt;
		&lt;ul class=&quot;job-listing-list&quot;&gt;
			&lt;li&gt;
				{{&gt; molecules-job-block }}
			&lt;/li&gt;
			&lt;li&gt;
				{{&gt; molecules-job-block }}
			&lt;/li&gt;
			&lt;li&gt;
				{{&gt; molecules-job-block }}
			&lt;/li&gt;		
		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/section&gt;