.block-clump {
    margin: 0 auto;
    text-align: center;
    padding: $space;
    overflow: hidden;
}

.block-clump li {
    float: left;
    width: 92%;
    margin: $space-half;
}

@media only screen and (min-width: 30em) {
	.block-clump {
	    max-width: 40em;
	}

	.block-clump li {
	    width: 30%;
	}
}