.block-clump {
    margin: 0 auto;
    text-align: center;
    max-width: 40em;
    padding: $space;
    overflow: hidden;
}

.block-clump li {
    float: left;
    width: 30%;
    margin: $space-half;
}