/*------------------------------------*\
    $RESET BUTTON
\*------------------------------------*/
.reset-btn {
	display: inline-block;
	color: $mid;
	border-radius: 5px;
	line-height: 1.4;
	font-size: $font-size-small-2;
	padding: 0.5em $space-and-half;
	border: 1px solid $mid;
	text-align: center;
	padding-bottom: 1em;

	&:hover {
		background: $white;
		color: $dark;
	}	

	&:focus {
		position: relative;
		top: 1px;
	}	
}

.reset-btn img {
	margin-right: 3px;
	margin-bottom: -7px;
}