/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
	width: 100%;
	display: inline-block;
	background: $brand-green;
	color: $white;
	border-radius: 5px;
	line-height: 1;
	font-weight: bold;
	font-size: $font-size-small;
	padding: $pad-and-half $pad-double;
	border: 0;
	text-align: center;
	
	&:hover {
		background: $brand-green-dark;
		color: $white;
	}

	&:focus {
		position: relative;
		top: 1px;
	}	

	&.caps {
		width: 100%;
		background: $brand-green;
		text-transform: uppercase;
		color: $white;	
		padding: $pad-and-half $pad-triple;
		margin: $space 0;
	}	

	&.caps:hover, &.caps:focus {
		background: $brand-green-dark;
		color: $white;
	}

	&.ghost {
		width: 100%;
		background: transparent;
		text-transform: uppercase;
		color: $brand-green;
		border: 1px solid $brand-green;		
		padding: $pad-and-half $pad-triple;
		margin: $space 0;
	}	

	&.ghost:hover, &.ghost:focus {
		border: 1px solid $brand-green-dark;	
		color: $brand-green-dark;
	}	

	&.alt-caps {
		width: 100%;
		background: $brand-blue;
		text-transform: uppercase;
		color: $white;	
		padding: $pad-and-half $pad-triple;
	}	

	&.alt-caps:hover, &.alt-caps:focus {
		background: $brand-blue;
		color: $white;
	}	

	&.disabled {
		width: 100%;
		background: $disabled;
		color: $white;
		text-decoration: none;
		cursor: not-allowed;
	}

	&.alt {
		background: $white;
		border: 1px solid $grey-light-3;
		color: $mid;		
	}	

	&.alt:hover, &.alt:focus {
		border: 1px solid $grey-light-1;
	}

	&.star {
		text-transform: uppercase;
		font-weight: normal;
		letter-spacing: 0px;
		color: $brand-purple;
	}	

	&.star img {
		margin-bottom: -6px;
	}

	&.star:hover, &.star:focus {
		border: 1px solid $grey-light-3;
	}	

	&.prefooter-cta {
		width: 100%;
		background: $white;
		color: $brand-green;
		font-size: $font-size-med-2;
	}	

	&.prefooter-cta:hover, &.prefooter-cta:focus {
		color: $brand-green-dark;
	}

	&.logout {
		width: 100%;
		text-transform: none;
		background: transparent url("../images/logout.svg") no-repeat 90% 50%;
		background: $white;		
		color: $mid !important;
		padding: $pad-and-half $pad-triple;
	}	

	&.logout:hover, &.logout:focus {
		color: $dark;
	}	

}

.logout-symbol {
	background: none;
	display: block;
	color: $white;
	content: "";
	background: transparent url("../images/logout.svg") no-repeat 90% 56%;
	height: 46px;
	width: 46px;
	padding: 0;
	position: absolute;
	margin: 0;
	text-transform: lowercase;
	top: 0.6em;
	right: 8%;
	display: none;
}

@media screen and (min-width: 40em) {
	.logout-symbol {
		color: $brand-purple;
		top: 0.45em;
		right: -10px;
	}
}
.btn-small {
	padding: $pad-half;
}

.btn-large {
	width: 100%;
	padding: $pad-half;
	text-transform: uppercase;
	background: $grey;
	font-size: 1.4rem;
	font-weight: normal;
}

.text-btn {
	background: none;
	outline: 0;
	text-align: left;
	padding: 0;
	margin: 0;
	// font-size: inherit;
	color: $brand-blue;
}

.text-btn:hover {
	text-decoration: underline;
}