/*------------------------------------*\
    $PREFOOTER
\*------------------------------------*/
.prefooter {
	margin-top: $space-triple;
	clear: both;
	text-align: center;
	overflow: hidden;
	background: url(../images/facepile.png) repeat $brand-green;
	color: $white;
	line-height: 1.2;
	padding: $space-triple;
}

.prefooter .btn {
	vertical-align: middle;
	margin: 0 auto;
	width: 30%;
	min-width: 15em;
	margin: 0;
}

@media all and (min-width: $bp-med) {
	.prefooter .btn {
		margin: $space-double 0 0 0;
	}
}