.Icon {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: 100%;
  vertical-align: middle;
  background-repeat: no-repeat;
  font-size: 18px;
  background-size: contain;
}

.Icon {
	opacity: 0.5;
}

.Icon:hover {
	opacity: 1;
}

.Icon--bell-big {
	background-image: url("../images/bell-big.svg");
}
.Icon--bell {
	background-image: url("../images/bell.svg");
}
.Icon--cross {
	background-image: url("../images/cross.svg");
}
.Icon--email {
	background-image: url("../images/email.svg");
}
.Icon--ex {
	background-image: url("../images/ex.svg");
}
.Icon--facebook {
	background-image: url("../images/facebook.svg");
}
.Icon--globe {
	background-image: url("../images/globe.svg");
}
.Icon--gplus {
	background-image: url("../images/gplus.svg");
}
.Icon--linkedin {
	background-image: url("../images/linkedin.svg");
}
.Icon--location {
	background-image: url("../images/location.svg");
}
.Icon--logout {
	background-image: url("../images/logout.svg");
}
.Icon--profile {
	background-image: url("../images/profile.svg");
}
.Icon--rss {
	background-image: url("../images/rss.svg");
}
.Icon--small-arrow-down {
	background-image: url("../images/small-arrow-down.svg");
}
.Icon--star-outlined {
	background-image: url("../images/star-outlined.svg");
}
.Icon--tag {
	background-image: url("../images/tag.svg");
}
.Icon--twitter {
	background-image: url("../images/twitter.svg");
}
.Icon--up-down-arrow-select {
	background-image: url("../images/up-down-arrow-select.svg");
}
.Icon--user-account {
	background-image: url("../images/user-account.svg");
}

.icon-arrow:after {
	content: "\61";
	display: inline-block;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.icon-play:before {
	font-size: 0.7rem;
	padding-left: 0.2em;
}

.icon-play-box {
	display: block;
	margin-left: $pad-double;
}

.icon-play-box:before {
	padding: $pad-quarter;
	background: $grey;
	color: $white;
	margin-left: -1.7rem;
	margin-right: $pad-half;
}
