.employer-logo {
	max-width: 8em;
	margin-bottom: $space-and-half;
}

p.employer-link {
	font-size: $font-size-small;
}

p.employer-link .Icon {
	margin-right: $space-half;
	margin-top: -3px;
}

p.employer-link .Icon--twitter {
	margin-top: 1px;
}

p.employer-link .Icon--linkedin {
	margin-top: -5px;
}

.job-meta .gi {
	width: auto;
}

.job-meta .employer-inner {
	padding-top: $space;
}

@media all and (max-width: $bp-med) {
	.job-meta .gi {
		width: auto;
		float: left;
	}	
}	