.employer-logo {
	
}

.job-info {

}

.job-info h3 {
	font-family: $font;
	font-weight: 400;

	a {
		color: $brand-green;
	}
}

.job-info a {
	color: $mid;
}

span.recency-badge {
	background: url("../images/bell.svg") no-repeat -30%;
	text-transform: uppercase;
	font-size: $font-size-tiny;
	color: $mid;
	font-weight: bold;
	padding: 0 $space-and-half;
}

.job-location {
	text-transform: uppercase;
	font-size: $font-size-small;
}

@media all and (max-width: $bp-med) {
	.job-location {
		display: none;
	}	
}	

.job-location-detail {
	background: url("../images/location.svg") no-repeat 0%;
	padding: $space-double $space-and-half;
}

.job-type {
	margin-top: $space;
	text-align: center;
}

@media all and (max-width: $bp-med) {
	.job-type {
		margin-top: 0;
	}	
}	