/*------------------------------------*\
    $MESSAGING
\*------------------------------------*/

// Alerts
.alert {
	text-align: center;
	padding: $pad;
	margin-bottom: $space-half;
	border: 1px solid #FF0000;;
	background: #FFCCCC;
	color: $error;	
}

.alert-error {
	color: $error;
	border-color: $error;
	background: #ffbebe;
}

.message {
	color: $grey;
	text-align: left;
	padding: $pad;
	margin-bottom: $space-half;
	border: 1px solid $grey-light-3;
	background: $grey-light;
	text-transform: uppercase;
	font-size: $font-size-small-2;
}