.rss {
	width: 75px;
	display: inline-block;
	color: $brand-green;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1;
	font-size: $font-size-small;
	padding: $pad-and-half;
	border: 0;
	text-align: left;
	background: transparent url("/images/rss.svg") no-repeat 90% 48%;
	
	&:hover, &:focus {
		color: $brand-green;
		text-decoration: none;
	}
}