//Intro text
.intro {
	font-size: $font-size-large;
	font-weight: normal;
	padding-bottom: $space;
	border-bottom: 1px solid $canvas-dark-border;
}

.read-only {
	color: $mid;
	padding: $space-half 0;
}

.blurb {
	max-width: 25em;
	padding-top: $space;
	text-align: center;
	margin: 0 auto;
}

//Contact text
.border-top-bottom {
	font-size: $font-size-med-2;
	text-align: center;
	border: 1px solid $grey-light-3;
	border-width: 1px 0;
	margin: $space-and-half;
	padding: $space;
	font-weight: bold;
}

//Price text
.tax-price,
.total-price {
    font-family: $font-header;
    font-weight: bold;
    letter-spacing: -0.05em;
    font-size: $font-size-large-2;
    line-height: 1;
    margin-bottom: 0.25em;
    text-align: left;
}

.tax-price {
    font-size: $font-size-large;
    margin-bottom: 0.5em;
    padding-bottom: $space-half;
    border-bottom: 1px solid $price-border;
}

//Pullquote
.pullquote {
	font-family: $font-serif;
	font-size: $font-size-large;
}

//Caption
.caption {
	font-style: italic;
}

.home-employers {
	margin-top: $space-double;
	font-size: $font-size-med-2;
}

//Kicker
span.kicker {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: $font-size-small;
	color: $mid;
}

cite.citation {
	font-family: $font;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: $font-size-small-2;
}

//Time
time {
	font-size: $font-size-small-2;
	color: $grey-light-1;
}

//Utility nav links
.utility-nav--link {
	position: relative;
	top: 1em;
}


//Passages of text
.text {
	ul {
		list-style: disc;
		margin: 0 0 $space 1.2em;

		ul {
			margin-bottom: 0;
		}
	}

	ol {
		list-style: decimal;
		margin: 0 0 $space 1.5em;

		ol {
			margin-bottom: 0;
		}
	}
}


.modal-loading {
    background: url(../images/ajax-loader.gif) no-repeat;
    background-position:top center;
    padding-top:30px;
}