&lt;table class=&quot;account manage-jobs&quot;&gt;
	&lt;thead&gt;
		&lt;tr&gt;
			&lt;th&gt;Job title&lt;/th&gt;
			&lt;th&gt;Filled?&lt;/th&gt;
			&lt;th&gt;Date posted&lt;/th&gt;
			&lt;th&gt;Date expires&lt;/th&gt;
		&lt;/tr&gt;
	&lt;/thead&gt;
	&lt;tbody&gt;
	&lt;tr&gt;
		&lt;td class=&quot;third&quot;&gt;
			&lt;p&gt;Marketing manager&lt;/p&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;-&lt;/p&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;July 13, 2015&lt;/p&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;August 20, 2015&lt;/p&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td class=&quot;third&quot;&gt;
			&lt;p&gt;Sales director&lt;/p&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;-&lt;/p&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;July 13, 2015&lt;/p&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;August 20, 2015&lt;/p&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;