
&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}

		&lt;div class=&quot;page-title&quot;&gt;
			&lt;header class=&quot;article-header&quot;&gt;
				&lt;h1&gt;Manage Jobs&lt;/h1&gt;
				{{&gt; molecules-byline }}
			&lt;/header&gt;
		&lt;/div&gt;


		&lt;div class=&quot;utility-nav&quot;&gt;
			&lt;div class=&quot;inner&quot;&gt;
				&amp;nbsp;
			&lt;/div&gt;
		&lt;/div&gt;

	&lt;div role=&quot;main&quot;&gt;

			&lt;div class=&quot;inner&quot;&gt;

				{{&gt; organisms-account-manage-jobs }}

			&lt;/div&gt;	


	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-prefooter }}
	{{&gt; organisms-footer }}
&lt;/div&gt;

&lt;div class=&quot;popup&quot;&gt;
	{{&gt; organisms-modal-stats }}
&lt;/div&gt;