		&lt;div class=&quot;utility-nav&quot;&gt;
			&lt;div class=&quot;inner&quot;&gt;

				&lt;div class=&quot;g g-2up&quot;&gt;
					&lt;div class=&quot;gi&quot;&gt;
						&lt;p class=&quot;utility-nav--link&quot;&gt;Success! You added the 'XX' package to your cart&lt;/p&gt;
					&lt;/div&gt;
					&lt;div class=&quot;gi&quot;&gt;
						&lt;div class=&quot;right-skinny&quot;&gt;
							&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Add more listings&lt;/a&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;

			&lt;/div&gt;
		&lt;/div&gt;		