<div class="block block-card">
		
		{{> molecules-pricing-price }}
		
		<p class="package-type">Package type</p>

		{{> atoms-unordered-nostyle }}

		<div>
			<p><a href="#" class="btn">Select this package</a></p>
		</div>
</div>