<div class="block block-card">
		<p class="package-type">Package type</p>

		{{> molecules-pricing-price }}

		{{> atoms-unordered-nostyle }}

		<div>
			<p><a href="#" class="btn alt-nocaps">Select this package</a></p>
		</div>
</div>