<div class="block price-card">
		
		<p class="package-type">Package type</p>

		{{> molecules-price }}

		{{> atoms-unordered-nostyle }}

</div>

<div class="price-totals">

	{{> atoms-unordered-nostyle }}

</div>