<div class="block block-card--blue">
		<p class="package-type">Package type</p>
		
		{{> molecules-pricing-price }}

		{{> atoms-unordered-nostyle }}

		<div>
			<p><a href="#" class="btn alt-blue">Select this package</a></p>
		</div>
</div>