<div class="block price-card">
		
		<p>Your Order</p>

		<p class="package-type">Package type&nbsp;&nbsp;<a href="{{ url }}">Remove</a></p>

		{{> molecules-price }}

		{{> atoms-job-checkout-list }}

</div>

<div class="price-totals">

	<p>Total</p>
	{{> molecules-price }}

	<br />

	<p><a href="#" class="btn alt-caps">Add more listings</a></p>

</div>