<section class="section">
<div class="lc">
	<div class="block job-listings-load-more">
		<div class="middle">
			<p><a href="#" class="btn alt">Show me more results</a></p>
		</div>
	</div>
</div>	
</section>