<div class="block block-inset">
    <a href="{{ url }}" class="inner">
		<div class="b-thumb">
			{{> atoms-landscape-4x3 }} 
		</div>
		<div class="b-text">
			<h4 class="headline">{{ headline.short }}</h4>
		</div>
	</a>
</div>