<div class="block block-thumb">
    <a href="#" class="b-inner">
		<div class="b-thumb">
			{{> atoms-square }}
		</div>
		<div class="b-text">
			<h4 class="headline">{{ headline.short }}</h4>
			<p>{{ excerpt.medium }}</p>
		</div>
	</a>
</div>