<div class="social-share">
	<ul class="social-share-list">
		<li class="share-title">{{ headline.social }}</li>
		<li><a href="{{ url }}"><i class="Icon Icon--facebook"></i></a></li>
		<li><a href="{{ url }}"><i class="Icon Icon--gplus"></i></a></li>
		<li><a href="{{ url }}"><i class="Icon Icon--linkedin"></i></a></li>
		<li><a href="{{ url }}"><i class="Icon Icon--twitter"></i></a></li>
		<li><a href="{{ url }}"><i class="Icon Icon--email"></i></a></li>				
	</ul>
</div>