<div class="social-share">
	<ul class="social-share-list">
		<li class="share-title">{{ headline.short }}</li>
		<li><a class="icon-twitter" href="{{ url }}">&nbsp;</a></li>
		<li><a class="icon-facebook" href="{{ url }}"></a></li>
		<li><a class="icon-linkedin" href="{{ url }}"></a></li>
		<li><a class="icon-google-plus" href="{{ url }}"></a></li>	
	</ul>
</div>