&lt;div class=&quot;table-responsive&quot;&gt;
&lt;table class=&quot;account manage-alerts&quot;&gt;
	&lt;thead&gt;
		&lt;tr&gt;
			&lt;th&gt;Alert name&lt;/th&gt;
			&lt;th&gt;Date created&lt;/th&gt;
			&lt;th&gt;Keywords&lt;/th&gt;
			&lt;th&gt;Location&lt;/th&gt;
			&lt;th&gt;Frequency&lt;/th&gt;
			&lt;th&gt;Status&lt;/th&gt;
		&lt;/tr&gt;
	&lt;/thead&gt;
	&lt;tbody&gt;
	&lt;tr&gt;
		&lt;td colspan=&quot;6&quot;&gt;
			&lt;p&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Add alert&lt;/a&gt;&lt;/p&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td class=&quot;third&quot;&gt;
			&lt;p&gt;This is a long title of an alert&lt;/p&gt;
		      &lt;ul class=&quot;inline-list caps&quot;&gt;
					&lt;li&gt;&lt;button class=&quot;text-btn popup-trigger caps&quot;&gt;Show results&lt;/button&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Email&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Edit&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Disable&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;red&quot;&gt;Delete&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
		      &lt;/ul&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;July 13, 2015&lt;/p&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;'design' 'marketing' 'management'&lt;/p&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;London&lt;/p&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;Weekly&lt;/p&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;Enabled&lt;/p&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td class=&quot;third&quot;&gt;
			&lt;p&gt;This is a test&lt;/p&gt;
		      &lt;ul class=&quot;inline-list caps&quot;&gt;
					&lt;li&gt;&lt;button class=&quot;text-btn popup-trigger caps&quot;&gt;Show results&lt;/button&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Email&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Edit&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Disable&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;red&quot;&gt;Delete&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
		      &lt;/ul&gt;		
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;July 13, 2015&lt;/p&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;'design'&lt;/p&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;London&lt;/p&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;Weekly&lt;/p&gt;
		&lt;/td&gt;
		&lt;td&gt;
			&lt;p class=&quot;small&quot;&gt;Enabled&lt;/p&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;
&lt;/div&gt;