<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #8EC617;"></span>
		<span class="sg-label">#8EC617</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4F9902;"></span>
		<span class="sg-label">#4F9902</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #362442;"></span>
		<span class="sg-label">#362442</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #740791;"></span>
		<span class="sg-label">#740791</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4A90E2;"></span>
		<span class="sg-label">#4A90E2</span>
	</li>
</ul>