&lt;div class=&quot;block block-card--blue&quot;&gt;
		&lt;p class=&quot;package-type&quot;&gt;Package type&lt;/p&gt;
		
		{{&gt; molecules-pricing-price }}

		{{&gt; atoms-unordered-nostyle }}

		&lt;div&gt;
			&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn alt-blue&quot;&gt;Select this package&lt;/a&gt;&lt;/p&gt;
		&lt;/div&gt;
&lt;/div&gt;